<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
<h1><%= t('employee_admission') %></h1>
<h3><%= t('step_4') %></h3>
<div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
</div>
</div>

<div id="page-yield">

<% unless flash[:notice].nil? %>
<p class="flash-msg"> <%= flash[:notice] %> </p>
<% end %>


<% form_for :employee_additional_details do |a| %>
<%= error_messages_for 'employee_bank_details' %>

    <div id="form-contents">
      <span class="span-sub-heading"><%= t('additional_detail') %></span>
      <hr class="sub-heading"></hr>
        <% @additional_fields.each do |additional| %>
        <div class="label-field-pair">
          <label><%= additional.name %></label>
          <div class="text-input-bg"><%= a.text_field :additional_info,:index => additional.id %></div>
          <div class="extender"></div>
        </div>
        <hr class="label-underline"></hr>
        <% end %>
    </div>

  <div class="save-proceed-button">
    <%= submit_tag "► #{t('save_and_proceed')}" %>
  </div>
<% end %>


</div>
