<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/show_hr.png") %>
  <h1><%= t('employee_text') %></h1>
  <h3><%= t('change_reporting_manager') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<script> function update_reporting_manager(id) { $('employee_reporting_manager_id').value = id; } </script>

<div id="page-yield">
<p class="flash-msg"><%= t('below_listed_employees') %> </p>
<div id="list_content">
  <div id="list">

      <% @associate_employee.each do |b| %>
        <div class="name_list<%=cycle('odd', 'even')%>"><li>
            <div class="att_list_name"> <%= b.full_name %></div> <div class="att_list_number"><%= b.employee_number %></div>
          </li></div>
      <% end %>
  </div>
</div>


  <div id="form-content">
    <% form_for :employee do |e| %>
      <div id="current-changed-manager">


        <div id="changed-manager-outer">
          <div id="changed-manager"><%= t('selected_new_manager') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div id="changed-manager-name"><span class="not-selected">(<%= t('not_selected') %>)</span></div>
          <div id="update-button"><%=  submit_tag("► #{t('save_and_proceed')}") %></div>
          <div class="extender"></div>
        </div>
      </div>

      <%= e.hidden_field :reporting_manager_id %>

    <% end %>

    <div id="search-options">
      <div id="search-outer">
        <div id="search-label"><%= t('search_by_name') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
        <div id="search-text-box"><%= text_field_tag("query", params['query'], :autocomplete => 'off') %></div>

        <%= image_tag("loader.gif",
        :align => "absmiddle",
        :border => 0,
        :id => "loader",
        :style => "display: none;" ) %>
        <div class="extender"></div>
      </div>


      <%= observe_fields ['employee_reporting_manager_id'],
      :frequency => 0.1,
      :update => 'changed-manager-name',
      :url=> {:action=>'update_reporting_manager_name'} %>

      <div id="advanced-options">
        <div class="employee-search-options"><%= select :employee, :department_id, @departments.map {|s| [s.name, s.id]}, :prompt => "#{t('select_department')}" %></div>
        <div class="employee-search-options"><%= select :employee, :category_id,   @categories.map {|s| [s.name, s.id]},  :prompt => "#{t('select_category')}" %></div>
        <div class="employee-search-options"><%= select :employee, :position_id,   @positions.map {|s| [s.name, s.id]},   :prompt => "#{t('select_position')}" %></div>
        <div class="employee-search-options"><%= select :employee, :grade_id,      @grades.map {|s| [s.name, s.id]},      :prompt => "#{t('select_grade')}" %></div>
        <div class="extender"></div>
      </div>
    </div>

    <%= observe_fields ['query', 'employee_department_id','employee_category_id', 'employee_position_id', 'employee_grade_id'],
    :frequency => 0.1,
    :update => 'information',
    :before => "Element.show('loader')",
    :success => "Element.hide('loader')",
    :url => {:action => 'select_reporting_manager'} %>
  </div>


  <div id="information"></div>

 </div>