<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
 <%= image_tag("/images/student_details/student_details_logo.jpg") %>
  <h1><%= t('parent_info') %></h1>
  <h3><%= t('parents_profile') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('student_profile')}", :controller => 'student', :action => 'profile', :id => @student.id %></li>
    <% if permitted_to? :add_guardian, :student %>
      <li><%= link_to "#{t('add_guardian')}", :controller => 'student', :action => 'add_guardian', :id => @student.id %></li>
    <% end %>
  </ul>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %> <p class="flash-msg"> <%= flash[:notice] %> </p> <% end %>

  <div id="student_profile_heading">



    <div id="student_main_info">
      <span class="name"> <%= @student.full_name %>  </span>
      <span class="course"><%= t('course_and_batch') %>: <%= @student.batch.course_name %> </span>
      <span class="adm"><%= t('adm_no') %>: <%= @student.admission_no %> </span>
    </div>

    <div class="extender"> </div>

  </div>

  <div id="guardians-links">

    <ul>
      <span><%= t('parents_guardian') %>:</span>
      <% @parents.each do |p| %>
        <li><a href="#guardian-details-id-<%= p.id %>"><%= p.full_name %></a> (<%= p.relation %>)</li>
      <% end %>
    </ul>

  </div>


  <div id="parent-list">

    <% @parents.each do |p| %>

      <a name="guardian-details-id-<%= p.id %>"> </a>
      <div id="new_profile_info_top">
        <div class="profile_top_banner">
          <span class="profile"><%= t('details') %></span>
          <%= rtl? ? image_tag("master_student/profile/topbanner_rtl.png") : image_tag("master_student/profile/topbanner.png") %></div>
        <div class="profile_info_label"><%= t('name') %></div>
        <div class="profile_info_text">
          <%= p.first_name %> <%= p.last_name %>
        </div>

        <div class="profile_info_label2"><%= t('relation') %></div>
        <div class="profile_info_text2"><%= p.relation %></div>

        <div class="profile_info_label"><%= t('date_of_birth') %></div>
        <div class="profile_info_text"> <%= p.dob.strftime('%d %B, %Y') unless p.dob.nil? %> </div>


        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('email') %></div>
          <div class="profile_info_text2"> <%= p.email %> </div>

          <div class="profile_info_label"><%= t('office_phone1') %></div>
          <div class="profile_info_text"> <%= p.office_phone1 %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('office_phone2') %></div>
          <div class="profile_info_text2"> <%= p.office_phone2 %> </div>

          <div class="profile_info_label"><%= t('mobile_phone_no') %></div>
          <div class="profile_info_text"> <%= p.mobile_phone %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('address') %></div>
          <div class="profile_info_text2"> <%= p.office_address_line1%> <%= p.office_address_line2%> </div>

          <div class="profile_info_label"> </div>
          <div class="profile_info_text"> <%= p.city %> <%= p.state %> <%= p.country.name %> </div>
        </div>

        <div class="new_profile_info_area1">
          <div class="profile_info_label2"><%= t('income') %></div>
          <div class="profile_info_text2"> <%= p.income %> </div>

          <div class="profile_info_label"><%= t('occupation') %></div>
          <div class="profile_info_text"> <%= p.occupation %> </div>
        </div>
        <div class="extender"></div>
      </div>
      <div class="button-pair">
        <% if permitted_to? :edit_guardian,:student %>
          <div class="parent-edit-button">
            <%= link_to "► #{t('edit_text')}",
              :controller => 'student', :action => 'edit_guardian', :id => p.id %>
          </div>
        <%  end %>
        <% if permitted_to? :del_guardian,:student %>
          <%  if @student.guardians.size > 1 %>
            <div class="parent-edit-button">
              <%= link_to "► #{t('delete_text')}",
                {:controller => 'student', :action => 'del_guardian', :id => p.id },
                {:confirm => "#{t('are_you_completely_sure')}"} %>
            </div>
          <%  end %>
        <% end %>
      </div>

      <div class="extender"></div>
    <% end %>

  </div>
</div>