<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/admission/admission_page_logo.jpg") %>
  <h1><%= t('student_info') %></h1>
  <h3><%= t('subject_wise_result') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
  <%= @graph %>

  <div class="subject-results-th">
    <div class="subject-results-exam"><%= t('exam') %></div>
    <div class="subject-results-marks"><%= t('marks') %></div>
    <div class="subject-results-maxmarks"><%= t('max') %></div>
    <div class="subject-results-grade"><%= t('grade') %></div>
    <div class="subject-results-percentage">(<%= t('in') %> %)</div>
  </div>

  <%- @examtypes.uniq.each do |e_type| -%>
    <%- exam = Examination.find_by_examination_type_id_and_subject_id(e_type.id, @subject) -%>
    <%- examres = ExaminationResult.find_by_student_id_and_examination_id(@student.id, exam.id) unless exam.nil? -%>
    <% unless examres.nil? %>

      <%  if examres.grading.nil? %>
        <%  grade = "NA" %>
      <%  else %>
        <%  grade = examres.grading.name %>
      <%  end %>
      
      <div class="subject-results-tr">
        <div class="subject-results-exam"><%= exam.name %></div>
        <div class="subject-results-marks"><%= examres.marks %></div>
        <div class="subject-results-maxmarks"><%= examres.examination.max_marks %></div>
        <div class="subject-results-grade"><%= grade %></div>
        <div class="subject-results-precentage"><%= examres.percentage_marks %></div>
      </div>
    <% end %>
  <% end %>

  <div class="subject-results-tf">
    <div class="subject-results-exam"><%= t('weighted_scores') %></div>
    <div class="subject-results-marks">&nbsp;</div>
    <div class="subject-results-maxmarks">&nbsp;</div>
    <div class="subject-results-grade">&nbsp;</div><% results_percentage = @student.annual_weighted_marks_for_a_subject(@subject) %>
    <div class="subject-results-percentage"><%= results_percentage unless results_percentage.nil? %></div>
  </div>

</div>