<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/reminder/reminder_small.png") %>
  <h1><%= t('reminder_text') %></h1>
  <h3><%= t('view') %></h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
     <li><%= link_to "#{t('back_to_inbox')}", :controller=>"reminder", :action=>"index"%></li>
    <li><%= link_to "#{t('mark_as_unread')}" ,:controller=> "reminder", :action=>"mark_unread", :id2=>@new_reminder.id%></li>
    <li><%= link_to "#{t('delete_text')}", {:controller=>"reminder", :action=>"delete_reminder_by_recipient", :id2=>@new_reminder.id}, :confirm=>"#{t('delete_confirm_msg')}" %></li>
  </ul>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div id="reminder-body">
    <div id="reminder-from"><%= t('from') %>: <%= @sender.nil? ? "#{t('user_unavailable')}" : @sender.full_name %></div>
    <div id="reminder-date"><%= t('sent_on') %>: <%= I18n.l(@new_reminder.created_at,:format=>"%A, %d %B, %Y") %></div>
    <div id="reminder-subject"><%= t('subject') %>: <%= @new_reminder.subject %></div>
    <div id="reminder-message"><strong><%= t('message') %>:</strong><br /><br /><%=h @new_reminder.body %></div>
    <div id="reminder-reply">

      <%= link_to_function "►#{t('reply')}", :class=>'button' do |page|
        page.visual_effect :toggle_blind, "reply-form"
      end  unless @sender.nil? %>
      
    </div>
    <div id="reply-form" style="display:none;">
      <% form_for :reminder, :url=>{:id2 =>@new_reminder.id}  do |l| %>
        <%= error_messages_for :reminder %>
        <div class="message">
          <div class="label-field-pair">
            <label for="subject"><%= t('subject') %></label>
            <div class="text-input-bg"><%= l.text_field :subject %></div>
          </div>
          <div class="label-field-pair">
            <label for="start_date"><%= t('message') %></label>
            <div class="text-area-bg"><%= l.text_area :body, :cols=>25, :rows=>10 %></div>
          </div>
          <div class="extender"></div>
          <div id="submit-button">
          <%=submit_tag "► #{t('send')}", :class=> 'button' %>
        </div>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
