<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('ranking_levels_text') %></h1>
  <h3><%= t('manage_ranking_levels') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="course-select">
    <div class="label-field-pair">
      <label for="student_course"><%= t('select_a_course') %>:</label>
      <div  class="text-input-bg">
        <%= select :ranking_level, :course_id,
          Course.active.map {|b| [b.full_name, b.id]},
          {:prompt => "#{t('select_a_course')}"},{:onChange => "#{remote_function(:url => {:action => "load_ranking_levels"}, :with => "'course_id='+value")}"}%></div></div>
  </div>
  <div id="flash"></div>

  <div id="errors">
    <%= error_messages_for 'ranking_level' %>
  </div>
  <div id="course_ranking_levels"></div>
</div>