<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% working_days = @report.size %>
<% leaves =0 %>
<% percentage = 0 %>
<% table_id = [] %>

<% @report.each do |r| %>
  <% @attendance = Attendance.find_by_student_id_and_period_table_entry_id(@student.id, r.id) %>
  <% unless @attendance.nil? %>
    <% table_id.push @attendance.id %>
    <% if @config.config_value == 'Daily' %>
      <% leaves += 0.5 if @attendance.forenoon %>
      <% leaves += 0.5 if @attendance.afternoon %>
    <% else %>
      <% leaves += 1 %>
    <% end %>
  <% end %>
<% end %>
<div class="att_detail">
  <%  if @config.config_value == 'Daily' %>
    <%= t('total_working_days') %> : <%= working_days %>
<% else %>
 <%= t('total_working_hours') %>: <%= working_days %>
<% end %>|<%= t('total_present') %> : <%= total = (working_days - leaves).to_f %> |
<% percentage =  (total/working_days)*100 unless working_days == 0 %>
<%= t('percentage') %>: <%= "%.2f" %(percentage) unless percentage.nil? %>
</div>
<% unless table_id.empty? %>
  <table id="listing" align="center" width="80%">
    <tr class="tr-head">
      <td>
        <%= t('date_text') %>
      </td>
      <td>
        <%= t('status') %>
      </td>
      <td>
        <%= t('reason') %>
      </td>
    </tr>
    <tr class="blank"></tr>
    <% table_id.each do |t| %>
    <% detail_report = Attendance.find(t) %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <% @details = PeriodEntry.find(detail_report.period_table_entry_id) %>
        <td class="col-2"><%= @details.month_date.to_date %></td>
        <td class="col-3">
          <% if detail_report.forenoon and detail_report.afternoon %>
            <%= t('full_day') %>
          <% elsif detail_report.afternoon %>
            <%= t('afternoon') %>
          <% elsif detail_report.forenoon %>
            <%= t('forenoon') %>
          <% else %>
            <%= t('absent') %>
          <% end %>
        </td>
        <td class="col-2">
          <%= detail_report.reason %></td>
      <% end %>
    </tr>
  </table>
<% end %>
