<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% unless @normal_subjects.nil? %>
<h4><%= t('normal_subjects') %></h4>
  <ul id="category-list">
  <% @normal_subjects.each do |sub| %>
    <li id="subject-<%=sub.id%>" class="list<%=cycle('odd', 'even')%>">
      <div class="category-name"> <%= sub.name %></div>
       <div class="category-code"><%= sub.code %></div>
    </li>
  <% end %>
    </ul>
<% end %>


<% unless @elective_groups.nil? %>
  <% @elective_groups.each do |eg| %>
    <h4><%= eg.name %>:</h4>
    <% unless @elective_subjects.nil? %>
    <ul id="category-list">
      <% @elective_subjects.each do |elect| %>
        <% if elect.elective_group_id == eg.id %>
          <li id="elect-<%=elect.id%>" class="list<%=cycle('odd', 'even')%>">
          <div class="category-name"> <%= elect.name %></div>
           <div class="category-code"><%= elect.code %></div>
          </li>
        <% end %>
      <% end %>
          </ul>
    <% end %>
  <% end %>
<% end %>