<div id="content-header">
  <img src="/images/attendence/attendence.png" />
  <h1>Attendance Report</h1>
  <h3>Student Report</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="label-field-pair">
    <label>Detailed report for <%= @student.full_name %></label>
  </div>
  <table id="listing" align="center" width="80%">
    <tr class="tr-head">
      <td>
        Date
      </td>
      <td>
        Status
      </td>
      <td>
        Reason
      </td>
    </tr>
    <tr class="blank"></tr>
    <% @report.each do |r| %>
      <tr class="tr-<%= cycle('odd', 'even') %>">
        <% @details = PeriodEntry.find(r.period_table_entry_id) %>
        <td class="col-2"><%= @details.month_date.to_date %></td>
        <td class="col-3">
          <% if r.forenoon and r.afternoon %>
            <%= "Fullday" %>
          <% elsif r.afternoon %>
            <%= "Afternoon" %>
          <% elsif r.forenoon %>
            <%= "Forenoon" %>
          <% else %>
            <%= "Absent" %>
          <% end %>
        </td>
        <td class="col-2">
          <%= r.reason %></td>
    <% end %>
    </tr>
  </table>
</div>