<% if @batch.present?  %>
  <% unless @students.empty?  %>
    <div class="list_name">
      <%= t("students_in_batch") %>
      <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
    </div>
    <ul class="student_list">
      <% @students.each do |s| %>
        <li class="student_names">
          <a href="#" id="<%=s.id%>"  class="student-link" > <%= s.full_name %></a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <div class="list_name">
      <%= t("no_students_in_batch")  %>
    </div>
  <% end %>
<% end %>
<script>
  $$('.student-link').invoke('observe','click',draw_report);
  $$('.student-link').invoke('observe','click',set_active);
</script>