<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>CCE Reports</h1>
  <h3>Generate CCE Report</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "View Scheduled Jobs", scheduled_task_path(:job_object=>"Batch", :job_type=>"3"), :class=> 'user_button' %></li>
  </ul>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% unless flash[:error].blank? %>
    <div class="errorExplanation" id="errorExplanation">
      <p>There where some problems</p>
      <ul>
        <% flash[:error].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="box">
    <% form_for :course, :url=>{:action=>:create_reports} do |f|  %>
      <div class="label-field-pair">
        <label for="student_course"><%= "#{t('select_a_course')}" %>:
          <%= image_tag("loader.gif",:align => "absmiddle",:border => 0,:id => "loader", :style =>"display: none;" ) %>
        </label>
        <div class="text-input-bg">
          <%= select :course, :id,
            @courses.map {|b| [b.course_name + " " + b.section_name, b.id]},
            {:prompt => "#{t('select_a_course')}"},
            {:onChange => "#{remote_function(:url => {:controller=>"batches",:action=>"batches_ajax"},:method=>:get,
            :with => "'course_id='+ value +'&type=list'",
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')",
            :update => "update_batch"
            )}"} %>
        </div></div>

      <div id="update_batch" ></div>
      <%= submit_tag "", :value => "► #{t('create_text')}", :class => "submit-button" %>
    <% end %>
    <div class="extender"></div>
  </div></div>