<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<% content_for :head do  %>
  <%= stylesheet_link_tag "exam/report_center"  %>
<% end %>
<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>CCE Reports</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>


<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <% if permitted_to? :create_reports, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "Generate Reports" ,:action=>'create_reports' %></div>
        <div class="link-descr">Generate CCE Report from entered scores.</div>
      </div>
    <% end %>
    <% if permitted_to? :student_wise_report, :cce_reports %>
      <div class="link-box">
        <div class="link-heading"><%= link_to "View Student Report" ,:action=>'student_wise_report' %></div>
        <div class="link-descr">Student-wise CCE Report</div>
      </div>
    <% end %>
  </div>

</div>