
<div id="weekday-form">
  <p><%= @batch.full_name unless @batch.nil? %></p>

  <% form_remote_for @weekday do |f| %>

    <% batch_id = (@batch.nil? ? nil : @batch.id) %>
    <%= f.hidden_field :batch_id, :value => batch_id %>

    <p>
      <%= f.label :select_weekday %>
      <%= select :weekday, :weekday, { "#{t('index.monday')}"=>'1', "#{t('index.tuesday')}" => '2',"#{t('index.thursday')}" =>'3',"#{t('index.wedesday')}" =>'4',"#{t('index.friday')}" =>'5',"#{t('index.saturday')}"=>'6', "#{t('index.sunday')}"=>'0' }%>
    </p>
    <%= f.check_box :is_break, :checked => false %> <%= t('create.check_if_this_is_a_break') %>
<%= f.check_box :is_break, :checked => false %> <%= t('create.check_if_this_is_a_break') %>
    <p>
      <%= f.submit "#{t('layouts.default.submit')}" %>
    </p>

    <div id="form-errors"></div>

  <% end %>
</div>
