<div id="content-header">
  <img src="/images/manage_news/manage_news_logo.png" />
  <h1><%= t('school_news') %></h1>
  <h3><%= t('latest_announcement') %></h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('student.index.view_all')}", :controller => 'news', :action => 'all' %></li>
    <% if permitted_to? :add,:news %>
      <li><%= link_to "#{t('layouts.default.add')}", :controller => 'news', :action => 'add' %></li>
    <% end %>
  </ul>
</div>
<div id="search_add_news_area">
<% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>
    <div class="news_search_add">
      <div id="news_bg">
        <form name="s1form" action="" style="display:inline;">
          <h2><%= t('layouts.default.search') + ' ' + t('news') %></h2>
          <%= text_field_tag("query", params['query'], :autocomplete => 'off') %>
          <div id="go"><%= submit_tag "", :value =>"#{t('layouts.default.search')}", :controller=> 'news', :action=>"index" %></div>
        </form>
        <div class="extender2"></div>
      </div>
    </div>
    <div class="extender"></div>
  </div>
<div id="page-yield">





  <% unless @news.empty? %>
    <div id="news_result">
      <% @news.each_with_index do |r,i| %>
        <div id="news_search_result">
          <% link_value = r.title %>
          <%=  link_to link_value, :controller => "news", :action => "view", :id => r.id%><br/>
          <small>posted <%= time_ago_in_words(r.created_at) %> ago</small>
        </div>
      <%= '<div class="extender"></div>' if i%3 == 2 %>
      <% end %>
    </div>
  <% end %>

  <div class="extender"></div>
</div>