<div id="page-yield">
  <div class="box">
    <% form_remote_for @assessment_tool,:url=>{:controller=>"assessment_tools",:action=>'update',:id=>@assessment_tool.id} do |f| %>
      <div id="form-errors"></div>
      <%= error_messages_for :assessment_tool %>
      <div class="label-field-pair">
        <label for="category_name"><%= t('name') %></label>
        <div class="text-input-bg"><%= f.text_field :name %></div>
      </div>
      <div class="label-field-pair">
        <label for="category_name"><%= t('desc') %></label>
        <div class="text-input-bg"><%= f.text_field :desc %></div>
      </div>
      <%= f.submit "", :value => "► #{t('save')}", :class => "submit_button" %>
    <% end %>
  </div>
</div>