<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="register">
  <div class="header">
    <div class="prev">
      <%= link_to_remote "◄", :url=>{:controller=>"timetable", :action=>"timetable",:next=>(@today-1.day)} %>
    </div>
    <div class="month">
      <%= I18n.l(@today,:format=>" %d %B %Y") %>
    </div>
    <div class="next">
      <%= link_to_remote "►", :url=>{:controller=>"timetable", :action=>"timetable",:next=>(@today+1.day)} %>
    </div>
    <div class="extender"></div>
  </div>
</div>

<div class="table">
  <% @batches.each do |b| %>
    <% weekday = Weekday.find_by_batch_id_and_weekday(b.id, @today.wday) if b.has_own_weekday%>
    <% weekday = Weekday.find_by_batch_id_and_weekday(nil, @today.wday) unless b.has_own_weekday %>
    <% @timetable = nil %>
    <% @timetable = Timetable.tte_for_the_day(b, @today) %>
    <%# @timetable = TimetableEntry.find_all_by_batch_id_and_weekday_id(b.id, weekday.id) unless weekday.blank? %>
    <% unless @timetable.blank? %>
      <table border="0" align="center" width="100%" id="timing"  cellspacing="0">
        <tr>
          <td class="head">
            <div class="top">
              <%= t('time_text') %>
            </div>
            <div class="bottom">
              <div class="course">
                <%= b.course.code + ' - ' + b.name %>
              </div>
            </div>
          </td>
          <td class="td-blank"> </td>
          <% @timetable.each do |t| %>
            <% @timing = ClassTiming.find(t.class_timing_id) %>
            <td>
              <div class="top">
                <%= @timing.start_time.strftime("%I:%M%p") unless @timing.start_time.nil? %>-<%= @timing.end_time.strftime("%I:%M%p") unless @timing.end_time.nil? %>
              </div>
              <div class="bottom">
                <div class="subject">
                  <% unless t.subject_id.nil? %>
                    <% unless t.subject.elective_group_id.nil?   %>
                      <%= shorten_string(t.subject.elective_group.name.to_s,10) %>
                    <% else %>
                      <%= t.subject.code  %>
                    <% end %>
                  <% end %>
                </div>
                <% if @config.include?('HR') %>
                  <% unless t.employee.nil? %>
                  <div class="employee">
                    <% unless t.nil? %>
                      <% unless t.subject.nil? %>
                        <% unless t.subject.elective_group_id.nil?   %>
                          <%= t('elective') %>
                        <% else %>
                          <%= t.employee.first_name unless t.employee.nil? %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                        <% end %>
                      <% end %>
                  </div>
            </td>
          <% end %>

        </tr>
      </table>
    <% else %>
      <div class="no-tt-entry"><%= t('no_timetable_entry_for_batch') %>: <%= b.full_name %> </div>
    <% end %>
  <% end %>

</div>
