<div id="content-header">
  <%= image_tag("/images/show_timetable.png") %>
  <h1><%= t('timetable_text') %></h1>
  <h3><%= t('edit_text') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <% if @timetables.blank? %>
    No editable timetables
  <% else %>
    <div id="department-list">
      <ul id="department-list">
        <li class="listheading">
          <div class="department-edit"><%= t('sl_no') %></div>
          <div class="department-name"><%= t('time_period') %></div></li>
        <% @timetables.each_with_index do |tt,i| %>
          <li class="list<%=cycle('odd', 'even')%>">
            <div class="department-edit"><%= i+1 %></div>
            <div class="department-name"><%= link_to "#{I18n.l(tt.start_date,:format=>"%d %b %Y")}  -  #{I18n.l(tt.end_date,:format=>"%d %b %Y")}",:controller=>:timetable,:action=>:update_timetable,:id=>tt.id %></div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>