<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/show_timetable.png") %>
  <h1><%= t('timetable_text') %></h1>
  <h3><%= t('edit_text') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<script type="text/javascript">

  var selected_divs = new Array();

  function update_selected_divs(id) {
    var exists_in_list = 0;
    for (x in selected_divs)
      if(id == selected_divs[x]){
        exists_in_list = 1;
        selected_divs.splice(x, 1)
        $('drop_' + id).className = "drop";
      }
    if(!exists_in_list){
      $('drop_' + id).className = "selected_div";
      selected_divs.push(id);
    }
  }

  function clear_selected_divs() {
    selected_divs = [];
  }

  function make_ajax_calls(tte_id, sub_id){
    if (selected_divs.length == 0) {
<%= remote_function(:update => "timetable",
  :url => {:action => "update_multiple_timetable_entries"},
  :with => "'subject_id=' + sub_id + '&tte_ids=' + tte_id") %>
    }
    else if (selected_divs.length == 1) {
<%= remote_function(:update => "timetable",
  :url => {:action => "update_multiple_timetable_entries"},
  :with => "'subject_id=' + sub_id + '&tte_ids=' + tte_id") %>
      if (selected_divs[0] == tte_id) selected_divs.pop();
    }
    else {
      var exists_in_list = 0;
      for (x in selected_divs)
        if(tte_id == selected_divs[x])exists_in_list = 1;
      if (exists_in_list) {
        tte_list = selected_divs.join(',');
<%= remote_function(:update => "timetable",
  :url => {:action => "update_multiple_timetable_entries"},
  :with => "'subject_id=' + sub_id + '&tte_ids=' + tte_list") %>
        selected_divs = [];
      }
      else
<%= remote_function(:update => "timetable",
  :url => {:action => "update_multiple_timetable_entries"},
  :with => "'subject_id=' + sub_id + '&tte_ids=' + tte_id") %>
      }
    }
</script>

<div id="page-yield">
  <div id="loadingmsg" ></div>
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="generate">
    <%= render :partial => "generate" %>
  </div>

  <div id="timetable">
    <%= render :partial => "edit_tt_multiple", :with=> @timetable %>
  </div>
  <h4><%= t('add_subjects') %></h4>
  <div id="subjects-list">
    <% @subjects.each do |s| %>
      <div class="subjects" id="sub_<%= s.id %>"> <%= s.code %> </div>
      <%= draggable_element("sub_#{s.id}", :revert => true) %>
    <% end %>
    <% @ele_subjects.each do |s| %>
      <div class="subjects" id="sub_<%= s.id %>"> <%= s.elective_group.name %> </div>
      <%= draggable_element("sub_#{s.id}", :revert => true) %>
    <% end %>
  </div>

</div>