<div id="content-header">
  <img src="/images/show_timetable.png" />
  <h1><%= t('index.timetable') %></h1>
  <h3><%= t('index.institutional') %> <%= t('index.timetable') %></h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div id="timetable">
    <%= render :partial=>"table" %>
</div>
</div>