<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>Exams</h1>
  <h3>Generated Report</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <%  if permitted_to? :consolidated_exam_report,:exam %>
      <li><%= link_to 'Consolidated Report', :action=>'consolidated_exam_report',:exam_group=>@exam_group.id %></li>
    <% end %>
    <%  if permitted_to? :generated_report_pdf,:exam %>
      <li><%= link_to "PDF Report",
          {:controller => "exam_reports", :action => "archived_batches_exam_report_pdf", :exam_group_id => @exam_group.id, :batch_id => @batch.id},:target => '_blank', :former_student=> @former_student %></li>
    <% end %>
  </ul>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <h3 align="center"><%= @student.batch.full_name %> - <%= @exam_group.name %></h3>
    <div id="register">
      <% unless @current_user.student? %>
        <div class="header">
          <div class="prev">
            <%= link_to '◄',:action=>'archived_batches_exam_report',:student=>@students[@students.index(@student)-1],:exam_group_id=>@exam_group.id, :batch_id=> @student.batch_id %>
          </div>
          <div class="month">
            <%= @student.full_name %>
          </div>
          <div class="next">
            <%= link_to '►',:action=>'archived_batches_exam_report',:student=>@students[@students.index(@student)+1],:exam_group_id=>@exam_group.id, :batch_id=> @student.batch_id %>
          </div>
          <div class="extender"></div>
        </div>
      <% end %>
    </div>
    <% exam_score = [] %>
    <% if @student.class.name == "ArchivedStudent" %>
      <% @exams.each do |exam| %>
        <% exam_score.push exam.archived_exam_scores.find_by_student_id(@student.id) unless exam.archived_exam_scores.find_by_student_id(@student.id).nil?  %>
      <% end %>
    <% else %>
      <% @exams.each do |exam| %>
        <% exam_score.push exam.exam_scores.find_by_student_id(@student.id) unless exam.exam_scores.find_by_student_id(@student.id).nil?  %>
      <% end %>
    <% end %>
    <% total_marks_attained = 0 %>
    <% total_max_marks = 0 %>
    <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
      <tr class="tr-head">
        <td>Subject</td>
        <% if @exam_group.exam_type == 'Marks' %>
          <td>Obtained Marks</td>
          <td>Max Marks</td>
          <td>Percentage(%)</td>
        <% elsif @exam_group.exam_type == 'Grades' %>
          <td>Grades</td>
        <% else %>
          <td>Obtained Marks</td>
          <td>Max Marks</td>
          <td>Grades</td>
          <td>Percentage(%)</td>
        <% end %>
      </tr>
      <% exam_score.each do |es| %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-1"> <%= (Subject.find(es.exam.subject_id)).name  %></td>
          <% if @exam_group.exam_type == 'Marks' %>
            <td class="col-1"><%= es.marks || '-' %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%="%.2f" %es.calculate_percentage %></td>
          <% elsif @exam_group.exam_type == 'Grades' %>
            <td class="col-1"><%= es.grading_level || "-" %></td>
          <% else %>
            <td class="col-1"><%= es.marks || "-" %></td>
            <% total_marks_attained = total_marks_attained+(es.marks || 0) %>
            <td class="col-1"><%= es.exam.maximum_marks %></td>
            <% total_max_marks = total_max_marks+es.exam.maximum_marks%>
            <td class="col-1"><%= es.grading_level || "-" %></td>
            <td class="col-1"><%="%.2f" %es.calculate_percentage %></td>
          <% end %>
        </tr>
      <% end %>

      <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
        <tr class="tr-head">
          <td>Total Marks:</td>
          <td><%= total_marks_attained %></td><td><%= total_max_marks %></td>
          <%  if @exam_group.exam_type == 'MarksAndGrades' %>
            <td>-</td>
          <% end %>
          <td><%= "%.2f" %(total_marks_attained*100/total_max_marks) unless total_max_marks == 0 %></td>
        </tr>
      <% end %>
    </table>

    <% if @exam_group.exam_type == 'Marks' or @exam_group.exam_type == 'MarksAndGrades' %>
      <% class_avg_marks = @exam_group.archived_batch_average_marks('marks') %>
      <h5>Class Average Marks : <%= "%.2f" %class_avg_marks unless total_max_marks == 0%> | Class Average % : <%=  "%.2f" %(class_avg_marks*100/total_max_marks) unless total_max_marks == 0 %></h5>
    <% end %>

    <div class="extender"></div>
  </div>
</div>
