<div id="class_form">
  <% remote_form_for :class_designation,:url=>{:action=>"create_class_designation", :course_id=>@course.id} do |c| %>

    <div id="form-content">
      <div class="label-field-pair">
        <label for="name"><%= t('name') %></label>
        <div class="text-input-bg"><%= c.text_field :name %></div>
      </div>
      <% if @course.gpa_enabled? %>
        <div class="label-field-pair">
          <label for="gpa"><%= t('cgpa') %></label>
          <div class="text-input-bg"><%= c.text_field :cgpa %></div>
        </div>
      <% else %>
        <div class="label-field-pair">
          <label for="marks"><%= t('marks') %> (%)</label>
          <div class="text-input-bg"><%= c.text_field :marks %></div>
        </div>
      <% end %>

      <div class="extender"></div>

      <div id="submit-button">
        <%=submit_tag("► #{t('create_text')}") %>
      </div>


    </div>
  <% end %>
</div>
<div id="category-list">
  <%= render :partial=>"class_designations" %>
</div>
