<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/user_profile/user_profile_logo.jpg") %>
  <h1><%= t('user_profile') %></h1>
  <h3><%= t('user_information') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<% if @current_user.id == @user.id %>
  <div id="inner-tab-menu">
    <ul><li><%= link_to "#{t('change_password')}", :controller => "user", :action => "change_password" %></li></ul>
  </div>
<% end %>

<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"> <%= flash[:notice] %> </p><% end %>

  <div id="profile_view">

    <div class="profile_info_label"><%= t('username') %></div>
    <div class="profile_info_text"> <%= @user.username %> </div>

    <div class="profile_info_label2"><%= t('name') %></div>
    <div class="profile_info_text2"> <%= @user.full_name %> </div>


    <div class="profile_info_label"><%= t('role') %></div>
    <div class="profile_info_text"> <%= @user.role_name %> </div>

    <div class="profile_info_label2"><%= t('email') %></div>
    <div class="profile_info_text2"> <%= @user.email %> </div>

    <% if @current_user.id == @user.id %>
      <div class="profile_info_label"><%= t('language') %></div>
      <div class="profile_info_text"> <%= select :configuration, :locale, available_language_options ,{:selected=>"#{I18n.locale}"},
          {:onchange => "#{remote_function(
          :url => { :controller=>'application',:action => 'set_language' },
          :with => "'language='+value"  )}"}%> </div>
    <% end %>
    <div class="extender"></div>
  </div>


  <% if @current_user.admin? %>
    <div class="submit-buttons">

      <% if @user.role_name == 'Employee' %>
        <% if @config.include?('HR') %>
          <%= link_to "► #{t('view_profile')}",{:controller => "employee", :action => "profile", :id => @employee.id }, :class => "user_button" unless @employee.nil?%>
        <% end %>
      <% elsif @user.role_name == 'Student' %>
        <%= link_to "► #{t('view_profile')}",{:controller => "student", :action => "profile", :id => @student.id }, :class => "user_button"%>
      <% elsif @user.role_name == 'Parent' %>
        <%= link_to "►#{t('view')} #{t('student_profile')}",{:controller => "student", :action => "profile", :id => @ward.id }, :class => "user_button"%>
      <% else %>
        <% if @config.include?('HR') %>
          <%= link_to "► #{t('view_profile')}",{:controller => "employee", :action => "profile", :id => @employee.id }, :class => "user_button" unless @employee.nil?%>
        <% end %>
      <% end %>
      <%= link_to "#{t('change_password')}", {:controller => "user", :action => "user_change_password", :id =>@user.username}, :class => "user_button" %>
      <% unless @user.admin %>
        <% unless @user.role_name == 'Student' or @user.role_name == 'Parent' %>
          <%= link_to "► #{t('edit_privilege_text')}", {:controller => "user", :action => "edit_privilege", :id => @user.username } ,:class => "user_button" %>
        <% end %>
      <% end %>
      <% if @user.admin and @current_user.id != @user.id and @employee.nil? %>
        <%= link_to "► #{t('delete_text')}", { :controller => "user", :action => "delete", :id => @user.username}, :class => "user_button", :confirm=>"#{t('are_you_sure_to_delete_user')}" %>
      <% end %>
    </div>

  <% end %>
</div>