<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


    <%#*<div id="attendance">%>
<table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
  <tr class="tr-head">
    <td>
      <%= t('name') %>
    </td>

    <% @leave_types.each do |lt| %>
      <td>
        <%= lt.code%>
      </td>
    <% end %>
    <td>
      <%= t('total') %>&nbsp;&nbsp;
    </td>
    <!-- attendance_tr -->
  </tr>

  <tr class="tr-blank">
    
  </tr>

  <% @employees.each do |e| %>
    <tr class="tr-<%= cycle('odd', 'even') %>">
      <td class="col-2">
        <%= link_to "#{e.full_name}", :controller =>"employee_attendance", :action=> "emp_attendance", :id=> e.id %>
        <% total = 0 %>
      </td>

      <% @leave_types.each do |lt1| %>
        <% leave_count = EmployeeLeave.find_by_employee_leave_type_id_and_employee_id(lt1.id, e.id)%>
        <td class="col-5">
          <%  unless leave_count.reset_date.nil? %>
          <% report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(e.id, lt1.id, :conditions=> ["attendance_date >= '#{leave_count.reset_date}'"]) %>
          <% else %>
          <% report = EmployeeAttendance.find_all_by_employee_id_and_employee_leave_type_id(e.id, lt1.id) %>
          <% end %>
          <% count = 0 %>
          <% unless report.nil? %>
            <% report.each do |d| %>
            <% if d.is_half_day==true %>
              <% count += 0.5 %>
              <% else %>
                <% count +=1 %>
              <% end %>
          <% end  %>
            <%= count %>
            <% total += count  %>
          <% end %>
        </td><!-- attendance_td -->

      <% end %>
      <td class="col-5"> <%= total %> </td>

    </tr><!-- attendance_tr -->
  <% end %>

</table>
