<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div class="heading"><%= t('my_leave_applications') %></div>
<% unless @applied_leaves == [] %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>
        <%= t('start_date') %>
      </td>
      <td>
        <%= t('end_date') %>
      </td>
      <td>
        <%= t('status') %>
      </td>
      <td>
       <%= t('remarks') %>
      </td>
    </tr>
    <tr class="tr-blank"></tr>


    <% @applied_leaves.each do |l| %>
      <% unless l.viewed_by_manager? %>
        <tr class="tr-<%= cycle('odd', 'even') %>">
          <td class="col-3"><%= link_to "#{l.start_date.strftime("%d/%m/%Y")}",:controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
          <td class="col-3"><%= link_to "#{l.end_date.strftime("%d/%m/%Y")}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
          <td class="col-1"><%= link_to "#{t('pending')}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
          <td class="col-1"> <%= t('no_remarks') %></td>
        </tr>
      <% else %>
        <% if l.approved? %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-3"><%= link_to "#{l.start_date.strftime("%d/%m/%Y")}", :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <td class="col-3"><%= link_to "#{l.end_date.strftime("%d/%m/%Y")}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <td class="col-1"><%= link_to "#{t('approved')}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <% if l.manager_remark.nil? %>
              <td class="col-1"> <%= t('no_remarks') %></td>
            <% else %>
              <td class="col-1"><%= l.manager_remark %></td>
            <% end %>
          </tr>
        <% else %>
          <tr class="tr-<%= cycle('odd', 'even') %>">
            <td class="col-3"><%= link_to "#{l.start_date.strftime("%d/%m/%Y")}", :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <td class="col-3"><%= link_to "#{l.end_date.strftime("%d/%m/%Y")}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <td class="col-1"><%= link_to "#{t('denied')}",  :controller=>"employee_attendance", :action=>"own_leave_application", :id=>l.id %></td>
            <% if l.manager_remark.nil? %>
              <td class="col-1"><%= t('no_remarks') %></td>
            <% else %>
              <td class="col-1"><%= l.manager_remark %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate @applied_leaves %>
  <% posted_params = params %>
  <% posted_params.delete(:page) %>
  <% posted_params.delete(:authenticity_token) %>
  <% posted_params.delete(:controller) %>
  <% posted_params.delete(:action) %>
  <%  @url_params = "" %>
  <% posted_params.each{|k,v| @url_params = @url_params.to_s+k.to_s+"="+v.to_s+"&"}  %>
  <%= will_paginate @applied_leaves,:renderer => 'RemoteLinkRenderer',:remote=>{:update=>'application-list'} %>
<% else %>
  <span><%= t('no_leave_application') %></span>
<% end %>