<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>





<ul class="leave-type-list">
<% unless @leave_types.empty? %>
  <li class="listheading"><div class="leave-type-name"><%= t('active_leave') %> </div></li>
    <%- @leave_types.each do |c| -%>
      <li class="list<%=cycle('odd', 'even')%>">
        <div class="leave-type-name"><%= c.name %>-<%= c.code %></div>
        <div class="leave-type-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_leave_types", :id=>c.id} %></div>
        <div class="leave-type-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_leave_types", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}"  %></div>
        <div class="leave-type-edit"><%= "#{t('Inactive')}" unless c.status == true %></div>
        </li>
     <% end %>
<% unless @inactive_leave_types.empty? %>
      <li class="listheading"><div class="leave-type-name"> <%= t('inactive_leave') %></div></li>
      <%- @inactive_leave_types.each do |c| -%>
        <li class="list<%=cycle('odd', 'even')%>">
          <div class="leave-type-name"><%= c.name %>-<%= c.code %> </div>
          <div class="leave-type-edit"><%= link_to "#{t('edit_text')}", {:action => "edit_leave_types", :id=>c.id} %></div>
          <div class="leave-type-edit"><%= link_to "#{t('delete_text')}", {:action => "delete_leave_types", :id=>c.id},:confirm=>"#{t('delete_confirm_msg')}" %></div>
        </li>
      <% end %>
    <% end %>
  <% else %>
<p class="flash-msg"><%= t('employee_leave_types_records') %></p>
  <% end %>
</ul>
