<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/HR/leave-new.png") %>
  <h1><%= t('leave_types') %></h1>
  <h3><%= t('add_leave_type') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>





<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <% form_for :leave_type do |c| %>
      <%= error_messages_for 'leave_type' %>
      <div id="form-content">
        <div class="label-field-pair">
          <label for="category_name"><%= t('leave_name') %></label>
          <div class="text-input-bg"><%= c.text_field :name %></div>
        </div>

        <div class="label-field-pair">
          <label for="category_name"><%= t('leave_code') %></label>
          <div class="text-input-bg"><%= c.text_field :code %></div>
        </div>

        <div class="label-field-pair">
          <label for="category_name"><%= t('max_leave') %></label>
          <div class="text-input-bg"><%= c.text_field :max_leave_count %></div>
        </div>
        <div class="extender"></div>

        <div class="label-field-pair">
          <label for="category_name"><%= t('enable_carry_forward') %></label>
          <div class="check_box"><%= c.check_box "carry_forward",:checked => false %></div>
        </div>

        <div class="label-radio-pair">
          <label class="status"><%= t('status') %></label>

          <%= c.radio_button  "status", "true", :checked => "checked" %>
          <label class="label_for_status" for="add_grade_status_true"><%= t('active') %></label>

          <%= c.radio_button  "status", "false" %>
          <label class="label_for_status" for="add_grade_status_false"><%= t('inactive') %></label>
        </div>

        <div id="submit-button">
          <%=submit_tag("► #{t('create_text')}") %>
        </div>
      </div></div>
  <% end %>

  <div id="leave_type-list">
    <%= render :partial => "leave_types" %>
  </div>

</div>