<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<script src="/javascripts/jquery/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
  jQuery.noConflict();
  jQuery(function(){
    jQuery("#leave_apply_start_date").datepicker({ dateFormat : 'yy-mm-dd', yearRange : '-5:+5' });
    jQuery("#leave_apply_end_date").datepicker({ dateFormat : 'yy-mm-dd', yearRange : '-5:+5' });
    jQuery("#leave_apply_start_date").change(function(){ jQuery("#leave_apply_end_date").val(jQuery(this).val()); });
  });
</script>

<div id="content-header">
<%= image_tag("/images/HR/leave-new.png") %>
  <h1><%= t('leave_management') %></h1>
  <h3><%= t('apply_for_a_leave') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>





    <div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

      <% form_for :leave_apply do |l| %>
          <%= error_messages_for :leave_apply %>
          <%= l.hidden_field :employee_id, :value=>@employee.id %>
        <%= t('leave_types') %>:<%= select :leave_apply, :employee_leave_types_id, @leave_types.map {|s| [s.name, s.id]},:prompt => "#{t('select')}" %><br/>
        <%= t('start_date') %>:<%= l.text_field :start_date %><br/>
        <%= t('end_date') %>:<%= l.text_field :end_date %><br/>
        <%= t('reason') %>:<%= l.text_field   :reason %>
        <%= submit_tag "#{t('submit')}"  %>
      <% end %>


   </div>