<div id="content-header">
  <img src="/images/attendence/attendence.png" alt="" />
  <h1>Employee Attendance</h1>
  <h3>Home</h3>
  <div id="app-back-button">
  <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

   <div id="page-yield">

     <div class="box">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Add leave types", :controller=>"employee_attendance", :action=>"add_leave_types" %></div>
    <div class="link-descr">Add and edit employee leave types.</div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Attendance register", :controller=>"employee_attendance", :action=>"register" %></div>
    <div class="link-descr">Register attendance.</div>
  </div>

    <div class="link-box">
    <div class="link-heading"><%= link_to "Attendance report", :controller=>"employee_attendance", :action=>"report" %></div>
    <div class="link-descr">Attendance reports.</div>
  </div>

   </div>
   </div>