<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>



<div id="content-header">
  <%= image_tag("/images/HR/leave-new.png") %>
  <h1><%= t('leave_management') %></h1>
  <h3><%= t('apply_or_check_status') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('apply')}", :controller=>"employee_attendance", :action=>"leaves", :id=> @employee.id %></li>
    <li><%= link_to "#{t('leave_history')}", :controller=>"employee_attendance", :action=>"leave_history", :id=> @employee.id %></li>
    <li><%= link_to_remote "#{t('my_leaves')}",
        :update => "application-list",
        :url => {:action => "individual_leave_applications", :id=>@employee.id} %></li>
      <% unless @reporting_employees == [] %>
        <% if @total_leave_count == 0 %>

        <% else %>
        <span class="new-leaves-count">  <li><b><%= link_to_remote "#{t('new_leaves')} (#{@total_leave_count})",
                :update => "application-list-2",
                :url => {:action => "new_leave_applications", :id=>@employee.id} %></b></li></span>
            <% end %>
      <li><%= link_to_remote "#{t('all_leaves')}",
          :update => "application-list",
          :url => {:action => "all_leave_applications", :id=>@employee.id} %></li>
      <% end %>
  </ul>
</div>





<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
        <% reporting_manager = Employee.find(@employee.id).reporting_manager_id %>
    
  <div id="application-list-2">
    <% unless @current_user.admin? %>
        <% if reporting_manager.nil?  %>
    <p class="flash-msg"><%= t('warn_notice') %> </p>
<% end %>
<% end %>
  </div>
 <% unless reporting_manager.nil? and not @current_user.admin? %>
  <div id="application-list">
    <div class="heading"><%= t('apply_for_a_leave') %></div>
    <% form_for :leave_apply do |l| %>
      <%= error_messages_for :leave_apply %>
      <%= l.hidden_field :employee_id, :value=>@employee.id %>
      <div class="label-field-pair">
        <label for="leave_type"><%= t('leave_type') %>:</label>
        <div class="text-input-bg"><%= select :leave_apply, :employee_leave_types_id, @leave_types.map {|s| [s.name, s.id]},:prompt => "Select" %></div>
      </div>
      <div class="label-field-pair">
          <label for="create_user" id="create_user_option"><%= t('is_half_day') %></label>
         <div class="text-input-bg"><%= l.check_box :is_half_day, :checked => false %></div>
      </div>

      <div class="label-field-pair">
        <label for="start_date"><%= t('start_date') %></label>
        <% start_date = params[:leave_apply][:start_date] if params[:leave_apply].present? %>
        <div class="text-input-bg"><%= calendar_date_select_tag 'leave_apply[start_date]' ,I18n.l( start_date.present? ? start_date.to_date : Date.today, :format=>:default),:popup=>:force  %></div>
      </div>
      <div class="label-field-pair">
        <label for="end_date"><%= t('end_date') %>:</label>
        <% end_date = params[:leave_apply][:end_date] if params[:leave_apply].present? %>
        <div class="text-input-bg"><%= calendar_date_select_tag 'leave_apply[end_date]' ,I18n.l( end_date.present? ? end_date.to_date : Date.today, :format=>:default),:popup=>:force   %></div>
      </div>
      <div class="label-field-pair">
        <label for="reason"><%= t('reason') %>:</label>
        <div class="text-input-bg"><%= l.text_field   :reason %></div>
      </div>
      
      <div id="submit-button">
        <%=  submit_tag("► #{t('create_text')}") %>
      </div>
    <% end %>
    <div class="extender"></div>
  </div>
<% end %>
  </div>
