<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/attendence/attendence.png") %>
  <h1><%= t('automatic_reset') %></h1>
  <h3><%= t('configure_auto_leave_reset') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('manual_reset')}", :action=>"manual_reset" %></li>
  </ul>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <%= error_messages_for 'leave_type' %>

    <div class="label-field-pair">
      <label for="category_name"><%= t('enable_automatic_reset') %></label>
      <div class="check_box"><%= check_box_tag "auto_reset",:checked => false %></div>
    </div>

    <div class="label-field-pair">
      <label for="category_name"><%= t('rest_period') %></label>
      <div class="text-input-bg"><%= text_field_tag :code %></div>
    </div>

    <div id="submit-button">
      <%=submit_tag("► #{t('save')}") %>
    </div>
  </div>

</div>