<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('exams_text') %></h1>
  <h3><%= t('view_exam_groups') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <%  if permitted_to? :publish,:exam %>
      <% if @exam_group.is_published %>
        <li><%= link_to_remote("#{t('publish_exam_result')}",:url=>{:controller=>'exam',:action=>'publish',:id=>@exam_group.id,:status=>"result"},
            :before => "Element.show('loader')",
            :success => "Element.hide('loader')") %></li>
      <% end  %>
    <% end %>
    <% if permitted_to? :new,:exams %>
      <li><%= link_to "#{t('new_text')}", new_exam_group_exam_path(@exam_group) %></li>
    <% end %>
  </ul>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <div class="bread_crumb">
      <%= link_to t('course_text'), courses_path %> &raquo;
      <%= link_to @course.full_name, @course %> &raquo;
      <%= link_to "#{t('batch')} #{@batch.name}", [@course, @batch] %> &raquo;
      <%= link_to t('exams_text'), batch_exam_groups_path(@batch) %> &raquo;
      <%= @exam_group.name %>
    </div>

    <div class="update_msg">
      <% if permitted_to? :edit, :exams %>
        <h4>
          <div id =<%="exam_group_name_#{@exam_group.id}_edit"%>>
            <%= in_place_editor_field :exam_group, :name %>
          </div>
        </h4>
      <% else %>
        <h4><span><%= @exam_group.name %></span></h4>
      <% end %>

      <h4><span class="flash_color" id="publish-notice-<%=@exam_group.id%>"><%= image_tag("loader.gif",:align => "absmiddle",
            :border => 0,
            :id => "loader",
            :style =>"display: none;" ) %></span></h4></div>
    <% @employee_subjects=[] %>
    <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
    <% privilege = Privilege.find_by_name("EnterResults") %>
    <% unless @exam_group.exam_type == 'Grades' %>
      <table id="listing">
        <tr class="tr-head">
          <td><%= t('subject') %></td>
          <td><%= t('max_mark') %></td>
          <td><%= t('min_mark') %></td>
          <% if permitted_to? :edit, :exams %>
            <td><%= t('manage') %></td>
          <% end %>
        </tr>
        <% @exam_group.exams.each do |exam| %>
          <% @exam = exam %>
          <% if @employee_subjects.include?(exam.subject.id) or @current_user.admin? or @user_privileges.map{|p| p.name}.include?('ExaminationControl') or @user_privileges.map{|p| p.name}.include?('EnterResults') %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <% @exam = exam %>
              <td class="col-2"><%= link_to exam.subject.name, [@exam_group, exam] %></td>

              <% if permitted_to? :edit, :exams %>
                <td class="col-1">
                  <div id=<%= "exam_maximum_marks_#{@exam.id}_edit" %>>
                    <%= in_place_editor_field :exam, :maximum_marks,{},{:cols=>1} %>
                  </div>
                </td>
                <td class="col-1">
                  <div id=<%= "exam_minimum_marks_#{@exam.id}_edit" %>>
                  <%= in_place_editor_field :exam, :minimum_marks,{},{:cols=>1} %></td>
                </div>
                <td class="col-1">
                  <% if @exam_group.result_published %>
                    <small><s><%= t('edit_text') %></s></small>
                  <% else %>
                    <small><%= link_to t('edit_text'), edit_exam_group_exam_path(@exam_group, exam) %></small>
                  <% end %>
                  <% if @exam.removable? %>
                    <small><%= link_to t('delete_text'), [@exam_group, exam], :method => 'delete', :confirm => t('delete_confirm_msg') %></small>
                  <% else %>
                    <small><s><%= t('delete_text') %></s></small>
                  <% end %>
                </td>
              <% else %>
                <td class="col-1"><span><%= exam.maximum_marks %></span></td>
                <td class="col-1"><span><%= exam.minimum_marks %></span></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% else %>
      <table id="listing" width="100%">
        <tr class="tr-head">
          <td><%= t('subject') %></td>
          <% if permitted_to? :edit, :exams %>
            <td><%= t('manage') %></td>
          <% end %>
        </tr>
        <% @exam_group.exams.each do |exam| %>
          <% if @employee_subjects.include?("#{exam.subject.id}") or @current_user.admin?  or @current_user.privileges.map{|p| p.name}.include?("ExaminationControl") or @current_user.privileges.map{|p| p.name}.include?("EnterResults") %>
            <tr class="tr-<%= cycle('odd', 'even') %>">
              <% @exam = exam %>
              <td class="col-3"><%= link_to exam.subject.name, [@exam_group, exam] %></td>
              <% if permitted_to? :edit, :exams %>
                <td class="col-1">
                  <small><%= link_to t('edit_text'), edit_exam_group_exam_path(@exam_group, exam) %></small>
                  <% if @exam.removable? %>
                    <small><%= link_to t('delete_text'), [@exam_group, exam], :method => 'delete', :confirm => t('delete_confirm_msg') %></small>
                  <% else %>
                    <small><s><%= t('delete_text') %></s></small>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </table>
    <% end %>

    <div class="extender"></div>
  </div>
</div>
