<div id="content-header">
  <img src="/images/examination/show_exam.png" alt="Exam" />
  <h1>Exams</h1>
  <h3>Home</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <%  if permitted_to? :index,:grading_levels %>
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Set grading levels' ,:controller=>'grading_levels',:action=>'index' %> </div>
        <div class="link-descr">Set the Grading Levels</div>
      </div>
    <% end %>
    <% @employee_subjects=[] %>
    <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.subject_id} if @current_user.employee?  %>
    <%  if (permitted_to? :create_exam,:exam and @allow_for_exams == true and !@current_user.privileges.map{|p| p.id}.include?(3)) or @current_user.admin? or !@employee_subjects.empty? %>
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Exam Management' ,:action=>'create_exam' %>  </div>
        <div class="link-descr">Create new exams, enter results.</div>
      </div>
    <% end %>
    <%  if permitted_to? :create_additional_exam,:additional_exam %>
      <div class="link-box">
        <div class="link-heading"><%= link_to 'Additional Exams' ,:controller=>'additional_exam' , :action=>'create_additional_exam' %></div>
        <div class="link-descr">Create additional exams,Edit results</div>
      </div>
    <% end %>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Exam Wise report' ,:action=>'exam_wise_report' %></div>
      <div class="link-descr">Generates reports Exam wise</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Subject Wise report' ,:action=>'subject_wise_report' %> </div>
      <div class="link-descr">Generates reports Subject wise</div>
    </div>
    <div class="link-box">
      <div class="link-heading"><%= link_to 'Grouped Exam report' ,:action=>'grouped_exam_report' %></div>
      <div class="link-descr">Group up exams for specific reports</div>
    </div>
    <div class="extender"></div>
  </div>
</div>

