<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield" class="available_sections">
  <div class="hor_line"></div>

  <div class="extender"> </div>
  <div class="report">
    <div id ="main_info">
      <h3 align="center"><%= t('overall_school_rankings') %> : <%= Configuration.find_by_config_key("InstitutionName").config_value.present? ? Configuration.find_by_config_key("InstitutionName").config_value : "-" %></h3>
    </div>
    <div id="pdf-info" class="section">
      <% unless @courses.empty? %>
        <% unless @students.empty? %>
          <% unless @grouped_exams.empty? %>
            <% c = 'even' %>
            <% page_val=24 %>
            <% i=0 %>
            <table id="pdf-table" width="100%" cellspacing="0">
              <tr class="table-header">
                <td><%= t('sl_no') %></td>
                <td><%= t('name') %></td>
                <td><%= t('batch') %></td>
                <td><%= t('adm_no') %></td>
                <td><%= t('marks') %></td>
                <td><%= t('rank') %></td>
              </tr>
              <% @ranked_students.each_with_index do |student,ind| %>
                <% if (i+1)%(page_val.to_i) == 0 %>
                  <% i=0 %>
                  <% page_val=26 %>
                </table>
                <table id="pdf-table" width="100%" cellspacing="0" class="section">
                  <tr class="table-header">
                    <td><%= t('sl_no') %></td>
                    <td><%= t('name') %></td>
                    <td><%= t('batch') %></td>
                    <td><%= t('adm_no') %></td>
                    <td><%= t('marks') %></td>
                    <td><%= t('rank') %></td>
                  </tr>

                <% end %>
                  <% i=i+1 %>
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                  <td class="col-pdf"><%= ind+1 %></td>
                  <% if @sort_order=="" or @sort_order=="rank-ascend" or @sort_order=="rank-descend" %>
                  <td class="col-pdf"><%= student[3].full_name %></td>
                  <td class="col-pdf"><%= student[3].batch.full_name %></td>
                  <td class="col-pdf"><%= student[3].admission_no.present? ? student[3].admission_no : "-" %></td>
                  <td class="col-pdf"><%= student[1] %></td>
                  <td class="col-pdf"><%= student[0] %></td>
                  <% else %>
                  <td class="col-pdf"><%= student[4].full_name %></td>
                  <td class="col-pdf"><%= student[4].batch.full_name %></td>
                  <td class="col-pdf"><%= student[4].admission_no.present? ? student[4].admission_no : "-" %></td>
                  <td class="col-pdf"><%= student[2] %></td>
                  <td class="col-pdf"><%= student[1] %></td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% else %>
            <p class="flash-msg"><%= t('no_grouped_exams_in_this_school') %></p>
          <% end %>
        <% else %>
          <p class="flash-msg"><%= t('no_students_in_this_school') %></p>
        <% end %>
      <% else %>
        <p class="flash-msg"><%= t('no_courses_for_this_school') %></p>
      <% end %>
    </div>
  </div>


</div>