<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
  <%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('exams_text') %></h1>
  <h3><%= t('combined_report') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('pdf_report')}", {:controller => "exam", :action => "student_combined_report_pdf", :batch_id=>@batch.id, :designations=>params[:combined_report][:designation_ids], :levels=>params[:combined_report][:level_ids]},:target => '_blank', :class=> 'user_button' %></li>
  </ul>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>
  <div class="box">
    <h3 align="center"><%= @batch.full_name %></h3>
    <% unless @students.empty? %>
      <% unless @designations.blank? %>
        <% @designations.each do|designation| %>
          <h4><%= designation.name %></h4>
          <% designated_students = [] %>
          <% @students.each do|student| %>
            <% marks = GroupedExamReport.find_all_by_student_id_and_score_type(student.id,"c") %>
            <% unless marks.empty? %>
              <% total = marks.map{|m| m.marks} %>
              <% avg = (total.sum.to_f)/(total.count.to_f) %>
              <% if @batch.gpa_enabled? %>
                <% classes = ClassDesignation.find(:all,:conditions=>["cgpa <= ? AND course_id = ?",avg,student.batch.course_id],:order=>"cgpa DESC") %>
              <% else %>
                <% classes = ClassDesignation.find(:all,:conditions=>["marks <= ? AND course_id = ?",avg,student.batch.course_id],:order=>"marks DESC") %>
              <% end %>
              <% unless classes.empty? %>
                <% if classes.first.id == designation.id %>
                  <% designated_students << [student,avg] %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <% unless designated_students.empty? %>
              <tr class="tr-head">
                <td><%= t('sl_no') %></td>
                <td><%= t('adm_no') %></td>
                <td><%= t('name') %></td>
                <% if @batch.cwa_enabled? %>
                  <td><%= t('cwa') %></td>
                <% elsif @batch.gpa_enabled? %>
                  <td><%= t('cgpa') %></td>
                <% else %>
                  <td><%= t('percentage') %></td>
                <% end %>
              </tr>
              <% designated_students.each_with_index do|s,i| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <% st = s[0] %>
                  <td class="col-1"><%= i+1 %></td>
                  <td class="col-1"><%= st.admission_no.present? ? st.admission_no : "-" %></td>
                  <td class="col-3"><%= st.full_name %></td>
                  <td class="col-1"><%= "%.2f" %(s[1].to_f) %></td>
                </tr>
              <% end %>
            <% else %>
              <tr class="tr-head">
                <td><%= t('no_students_for_this_class_designation') %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
      <% unless @levels.blank? %>
        <% @levels.each do|level| %>
          <h4><%= level.name %> <%= t('students') %></h4>
          <% unless level.subject_count.nil? %>
            <% scores = GroupedExamReport.find(:all,:conditions=>{:student_id=>@students.collect(&:id),:score_type=>"s"}) %>
          <% else %>
            <% scores = GroupedExamReport.find(:all,:conditions=>{:student_id=>@students.collect(&:id),:score_type=>"c"}) %>
          <% end %>
          <% if level.marks_limit_type=="upper" %>
            <% scores.reject!{|s| !(((s.marks < level.gpa unless level.gpa.nil?) if s.student.batch.gpa_enabled?) or (s.marks < level.marks unless level.marks.nil?))} %>
          <% elsif level.marks_limit_type=="exact" %>
            <% scores.reject!{|s| !(((s.marks == level.gpa unless level.gpa.nil?) if s.student.batch.gpa_enabled?) or (s.marks == level.marks unless level.marks.nil?))} %>
          <% else %>
            <% scores.reject!{|s| !(((s.marks >= level.gpa unless level.gpa.nil?) if s.student.batch.gpa_enabled?) or (s.marks >= level.marks unless level.marks.nil?))} %>
          <% end %>
          <% ranked_students =[] %>
          <% unless scores.empty? %>
            <% unless level.subject_count.nil? %>
              <% sub_count = level.subject_count %>
              <% @students.each do|student| %>
                <% student_scores = scores.dup %>
                <% student_scores.reject!{|s| !(s.student_id==student.id)} %>
                <% batch_ids = student_scores.collect(&:batch_id) %>
                <% batch_ids.each do|batch_id|%>
                  <% unless batch_ids.empty? %>
                    <% count = batch_ids.count(batch_id) %>
                    <% if level.subject_limit_type=="upper" %>
                      <% if count < sub_count %>
                        <% flag=0 %>
                        <% ranked_students.each do|r| %>
                          <% if r[0]==student.id %>
                            <% r[1] << batch_id %>
                            <% flag=1 %>
                          <% end %>
                        <% end %>
                        <% unless flag==1 %>
                          <% unless student.has_higher_priority_ranking_level(level.id,"course","") %>
                            <% ranked_students << [student.id,[batch_id]] %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% elsif level.subject_limit_type=="exact" %>
                      <% if count == sub_count %>
                        <% flag=0 %>
                        <% ranked_students.each do|r| %>
                          <% if r[0]==student.id %>
                            <% r[1] << batch_id %>
                            <% flag=1 %>
                          <% end %>
                        <% end %>
                        <% unless flag==1 %>
                          <% unless student.has_higher_priority_ranking_level(level.id,"course","") %>
                            <% ranked_students << [student.id,[batch_id]] %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <% if count >= sub_count %>
                        <% flag=0 %>
                        <% ranked_students.each do|r| %>
                          <% if r[0]==student.id %>
                            <% r[1] << batch_id %>
                            <% flag=1 %>
                          <% end %>
                        <% end %>
                        <% unless flag==1 %>
                          <% unless student.has_higher_priority_ranking_level(level.id,"course","") %>
                            <% ranked_students << [student.id,[batch_id]] %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <% batch_ids.delete(batch_id) %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <% scores.each do|score| %>
                <% flag=0 %>
                <% ranked_students.each do|r| %>
                  <% if r[0]==score.student_id %>
                    <% r[1] << score.batch_id %>
                    <% flag=1 %>
                  <% end %>
                <% end %>
                <% unless flag==1 %>
                  <% unless score.student.has_higher_priority_ranking_level(level.id,"course","") %>
                    <% ranked_students << [score.student_id,[score.batch_id]] %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
            <% unless ranked_students.empty? %>
              <tr class="tr-head">
                <td><%= t('sl_no') %></td>
                <td><%= t('adm_no') %></td>
                <td><%= t('name') %></td>
                <% if @batch.cwa_enabled? %>
                  <td><%= t('cwa') %></td>
                <% elsif @batch.gpa_enabled? %>
                  <td><%= t('cgpa') %></td>
                <% else %>
                  <td><%= t('percentage') %></td>
                <% end %>
                <td><%= t('courses_text') %> <%= level.name %></td>
              </tr>
              <% ranked_students.each_with_index do|r,ind| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <% stu = Student.find(r[0]) %>
                  <% marks = GroupedExamReport.find_all_by_student_id_and_score_type(stu.id,"c") %>
                  <% unless marks.empty? %>
                    <% total = marks.map{|m| m.marks} %>
                    <% avg = (total.sum.to_f)/(total.count.to_f) %>
                  <% end %>
                  <td class="col-1"><%= ind+1 %></td>
                  <td class="col-1"><%= stu.admission_no.present? ? stu.admission_no : "-" %></td>
                  <td class="col-3"><%= stu.full_name %></td>
                  <td class="col-1"><%= avg.present? ? "%.2f" %(avg) : "-" %></td>
                  <td class="col-3">
                    <% batches = r[1] %>
                    <%= Batch.find_all_by_id(batches).collect(&:full_name).join(", ") %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr class="tr-head">
                <td><%= t('no_students_for_this_ranking_level') %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
