<div id="page-yield">

  <div class="hor_line"></div>
  <h2 align="center">Transcript of Academic Record</h2>
  <div class="hor_line"></div>
  <div class="extender"> </div>
  <div class="report">
    <div id ="main_info">
      <div class="info1">
        <div class="info-left">
          <h4>Name : <%= @student.full_name %></h4>
        </div>
        <div class="info-right">
          <h4>Adm No. : <%= @student.admission_no.present? ? @student.admission_no : "-" %></h4>
        </div>
      </div>
      <div class="hor_line"></div>
      <div class="info1">
        <div class="info-left">
          <h4>Course : <%= @student.batch.course.full_name %></h4>
        </div>
        <div class="info-right">
          <h4>Batch : <%= @student.batch.name %></h4>
        </div>
      </div>
      <div class="hor_line"></div>
    </div>
    <div id="pdf-info">
      <% grades = [] %>
      <% @batches.each do|batch| %>
        <% general_subjects = Subject.find_all_by_batch_id(batch.id, :conditions=>"elective_group_id IS NULL AND is_deleted=false") %>
        <% student_electives = StudentsSubject.find_all_by_student_id(@student.id,:conditions=>"batch_id = #{batch.id}") %>
        <% elective_subjects = [] %>
        <% student_electives.each do |elect| %>
          <% elective_subjects.push Subject.find(elect.subject_id) %>
        <% end %>
        <% @subjects = general_subjects + elective_subjects %>
        <% unless @subjects.empty? %>
          <h3><%= batch.full_name %></h3>
          <% total_credits=0 %>
          <table id="pdf-table" width="100%" cellspacing="0">
            <% c= 'even' %>
            <tr class="table-header">
              <td>Subject Code</td>
              <td>Subject Title</td>
              <% if batch.grading_type=="1" or batch.grading_type=="2" %>
                <td>Credit</td>
                <td>Marks</td>
              <% else %>
                <td>Percentage(%)</td>
              <% end %>
            </tr>
            <% @subjects.each do |s| %>
              <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                <% if @student.has_retaken_exam(s.id) %>
                  <td class="col-pdf"> <%= s.code %> - <label class="infolbl">Retaken</label></td>
                <% else %>
                  <td class="col-pdf"> <%= s.code %></td>
                <% end %>
                <td class="col-pdf"> <%= s.name %></td>
                <% if batch.grading_type=="1" or batch.grading_type=="2" %>
                  <td class="col-pdf"><%= s.credit_hours %></td>
                  <% total_credits = total_credits + s.credit_hours.to_f %>
                <% end %>
                <% subject_average = GroupedExamReport.find_by_student_id_and_subject_id_and_score_type(@student.id,s.id,"s") %>
                <td class="col-pdf"><%= subject_average.present? ? subject_average.marks : "-" %></td>
              </tr>
            <% end %>
            <% if batch.grading_type=="1" or batch.grading_type=="2" %>
              <tr class="table-header">
                <td colspan="2" align="right">Total</td>
                <td><%= total_credits %></td>
                <td>-</td>
              </tr>
            <% end %>
          </table>
          <% st_mark = GroupedExamReport.find_by_batch_id_and_student_id_and_score_type(batch.id,@student.id,"c") %>
          <% unless st_mark.nil? %>
            <% mark = st_mark.marks || 0 %>
          <% else %>
            <% mark=0 %>
          <% end %>
          <% grades << mark %>
          <% if batch.grading_type=="2" %>
            <h5>Combined Weighted Average = <%= mark==0 ? "-" : mark %></h5>
          <% elsif batch.grading_type=="1" %>
            <h5>Batch wise Cumulative Grade Point Average = <%= mark==0 ? "-" : mark %></h5>
          <% else %>
            <h5>Combined Percentage = <%= mark==0 ? "-" : mark %></h5>
          <% end %>
        <% end %>
      <% end %>
      <% cgpa = (grades.sum.to_f)/(grades.count.to_f) %>
      <% if @student.batch.grading_type=="1" %>
        <% designations = ClassDesignation.find(:all,:conditions=>["cgpa <= ? AND course_id = ?",cgpa,@student.batch.course_id],:order=>"cgpa DESC") %>
        <h4 align="center">Course wise Cumulative Grade Point Average (CGPA) = <span class="high"><%= "%.2f" %(cgpa) %></span></h4>
      <% else %>
        <% designations = ClassDesignation.find(:all,:conditions=>["marks <= ? AND course_id = ?",cgpa,@student.batch.course_id],:order=>"marks DESC") %>
        <% if @student.batch.grading_type=="2" %>
          <h4 align="center">Course wise Combined Weighted Average = <span class="high"><%= "%.2f" %(cgpa) %></span></h4>
        <% else %>
          <h4 align="center">Course wise Combined Percentage = <span class="high"><%= "%.2f" %(cgpa) %></span></h4>
        <% end %>
      <% end %>
      <h4 align="center">Class Designation : <span class="high"><%= designations.empty? ? "-" : designations.first.name %></span></h4>
    </div>
  </div>
</div>