<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield" class="available_sections1">
  <div class="page1"></div>
  <div class="section1 row" >
    <center>
      <div class="hor_line"></div>

      <div class="extender"> </div>
    </center>
  </div>
  <% if @mode=="batch" %>
    <div class="section1 row" >
      <center>
        <div id ="main_info">
          <h3 align="center"><%= @ranking_level.name %> <%= t('students') %></h3>
          <h4 align="center"><%= @batch.full_name %> <%= " | #{t('subject')} : "+@subject.name if @subject.present? %></h4>
        </div>
      </center>
    </div>
    <% unless @scores.empty? %>
      <% if @report_type=="subject" %>
        <% ranked_students = Student.find_all_by_id(@scores.collect(&:student_id)) %>
        <% ranked_students = ranked_students.reject{|st| st.has_higher_priority_ranking_level(@ranking_level.id,"subject",@subject.id)==true} %>
      <% else %>
        <% unless @ranking_level.subject_count.nil? %>
          <% sub_count = @ranking_level.subject_count %>
          <% ranked_students = [] %>
          <% @students.each do|student| %>
            <% @student_scores = @scores.dup %>
            <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
            <% if @ranking_level.subject_limit_type=="upper" %>
              <% if @student_scores.count < sub_count %>
                <% ranked_students << student %>
              <% end %>
            <% elsif @ranking_level.subject_limit_type=="exact" %>
              <% if @student_scores.count == sub_count %>
                <% ranked_students << student %>
              <% end %>
            <% else %>
              <% if @student_scores.count >= sub_count %>
                <% ranked_students << student %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% ranked_students = Student.find_all_by_id(@scores.collect(&:student_id)) %>
        <% end %>
        <% ranked_students = ranked_students.reject{|st| st.has_higher_priority_ranking_level(@ranking_level.id,"overall","")==true} %>
      <% end %>
      <% unless ranked_students.empty? %>
        <% c = 'even' %>
        <div class="section1 row" id="table-headers" >
          <center>
            <table id="pdf-table" width="100%">
              <tr class="table-header">
                <td class="serial-td1"><%= t('sl_no') %></td>
                <td class="adm-td1"><%= t('adm_no') %></td>
                <td class="name-td"><%= t('name') %></td>
              </tr>
            </table>
          </center>
        </div>
        <% ranked_students.each_with_index do |s,ind| %>
          <div class="section1 row" >
            <center>
              <table id="pdf-table" width="100%">
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                  <td class="serial-td1"><%= ind+1 %></td>
                  <td class="adm-td1"><%= s.admission_no.present? ? s.admission_no : "-" %></td>
                  <td class="name-td"><%= s.full_name %></td>
                </tr>
              </table>
            </center>
          </div>
        <% end %>
      <% else %>
        <div class="section1 row" >
          <center>
            <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
          </center>
        </div>
      <% end %>
    <% else %>
      <div class="section1 row" >
        <center>
          <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
        </center>
      </div>
    <% end %>
  <% else %>
    <div class="section1 row" >
      <center>
        <div id ="main_info">
          <h3 align="center"><%= @ranking_level.name %> <%= t('students') %></h3>
          <h4 align="center"><%= @course.full_name %></h4>
        </div>
      </center>
    </div>
    <% unless @scores.empty? %>
      <% unless @ranking_level.subject_count.nil? %>
        <% sub_count = @ranking_level.subject_count %>
        <% ranked_students = [] %>
        <% unless @ranking_level.full_course==true %>
          <% @students.each do|student| %>
            <% @student_scores = @scores.dup %>
            <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
            <% batch_ids = @student_scores.collect(&:batch_id) %>
            <% batch_ids.each do|batch_id|%>
              <% unless batch_ids.empty? %>
                <% count = batch_ids.count(batch_id) %>
                <% if @ranking_level.subject_limit_type=="upper" %>
                  <% if count < sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,batch_id] %>
                    <% end %>
                  <% end %>
                <% elsif @ranking_level.subject_limit_type=="exact" %>
                  <% if count == sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,batch_id] %>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if count >= sub_count %>
                    <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                      <% ranked_students << [student.id,batch_id] %>
                    <% end %>
                  <% end %>
                <% end %>
                <% batch_ids.delete(batch_id) %>
              <% end %>
            <% end %>
          <% end %>
        <% else %>
          <% @students.each do|student| %>
            <% @student_scores = @scores.dup %>
            <% @student_scores.reject!{|s| !(s.student_id==student.id)} %>
            <% if @ranking_level.subject_limit_type=="upper" %>
              <% if @student_scores.count < sub_count %>
                <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                  <% ranked_students << [student.id,student.batch.id] %>
                <% end %>
              <% end %>
            <% elsif @ranking_level.subject_limit_type=="exact" %>
              <% if @student_scores.count == sub_count %>
                <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                  <% ranked_students << [student.id,student.batch.id] %>
                <% end %>
              <% end %>
            <% else %>
              <% if @student_scores.count >= sub_count %>
                <% unless student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
                  <% ranked_students << [student.id,student.batch.id] %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <% ranked_students = [] %>
        <% @scores.each do|score| %>
          <% unless score.student.has_higher_priority_ranking_level(@ranking_level.id,"course","") %>
            <% ranked_students << [score.student_id,score.batch_id] %>
          <% end %>
        <% end %>
      <% end %>
      <% unless ranked_students.empty? %>
        <% c = 'even' %>
        <div class="section1 row" id="table-headers" >
          <center>
            <table id="pdf-table" width="100%">
              <tr class="table-header">
                <td class="serial-td"><%= t('sl_no') %></td>
                <td class="adm-td"><%= t('adm_no') %></td>
                <td class="name-td"><%= t('name') %></td>
                <td class="batch-td"><%= t('batch') %></td>
                <% unless @ranking_level.full_course==true %>
                  <td class="batch-td"><%= "#{@ranking_level.name} #{t('batch')}" %></td>
                <% end %>
              </tr>
            </table>
          </center>
        </div>
        <% ranked_students.each_with_index do |s,i| %>
          <% stu = Student.find(s[0]) %>
          <% batch = Batch.find(s[1]) %>
          <div class="section1 row" >
            <center>
              <table id="pdf-table" width="100%">
                <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
                  <td class="serial-td"><%= i+1 %></td>
                  <td class="adm-td"><%= stu.admission_no.present? ? stu.admission_no : "-" %></td>
                  <td class="name-td"><%= stu.full_name %></td>
                  <td class="batch-td"><%= stu.batch.full_name %></td>
                  <% unless @ranking_level.full_course==true %>
                    <td class="batch-td"><%= batch.full_name %></td>
                  <% end %>
                </tr>
              </table>
            </center>
          </div>
        <% end %>
      <% else %>
        <div class="section1 row" >
          <center>
            <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
          </center>
        </div>
      <% end %>
    <% else %>
      <div class="section1 row" >
        <center>
          <p class="flash-msg"><%= "#{t('no_text')} #{@ranking_level.name} #{t('students_found')}" %></p>
        </center>
      </div>
    <% end %>
  <% end %>
</div>
<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
    html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>);
    var header = $("table-headers")
    var page = new Element('div',{'class' : 'page1'});
    var pageBreak = new Element('div',{'class' : 'page-break1'});
    var insertPageBreak = function(){body.appendChild(pageBreak.cloneNode(true))};
    var insertPage = function(){body.appendChild(page.cloneNode(true));};
    var currPage = function(){return $$('.page1').last()};
    var insertHeader = function(){
      header1 = header.cloneNode(true);
      header1.style.marginTop="50px";
      currPage().appendChild(header1.cloneNode(true));};
    var current_page_height=0;
    var i=0
    $$('.available_sections1 .section1').each(function(el){
      a = parseInt(el.getHeight());
      c=current_page_height+a;
      current_page_height=c;
      if(c>pg_height){
        current_page_height=a
        body.appendChild(new Element('div',{'id' : 'page-blank_'+i, 'class' : 'page-blank'}))
        document.getElementById('page-blank_'+i).style.height= (c-pg_height)+'px';
        document.getElementById('page-blank_'+i).innerHTML="&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
        i+=1

        //el.style.marginTop="50px"; /* for this border-top is coming, top section of each page */
        insertPageBreak();
        /* insertHeader(); */
        insertPage();
        insertHeader();
        current_page_height = (current_page_height + header.getHeight() + 50)

      }
      currPage().appendChild(el);
    });
  </script>
<% end %>
