<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="page-yield" class="available_sections1">
  <div class="page1"></div>
  <div class="section1 row" >
    <center>
      <div class="hor_line"></div>

      <div class="extender"> </div>
    </center>
  </div>
  <div class="section1 row" >
      <div id ="main_info">
        <h3><%= t('subjects_rankings') %> - <%= @subject.name %></h3>
        <h4>  <%= @batch.name %> - <%= @batch.course.full_name %> </h4>
      </div>
  </div>
  <% ranks = [] %>
  <% @exam_groups.each do |exam_group| %>
    <% rank_exam = Exam.find_by_subject_id(@subject.id,:conditions=>{:exam_group_id=>exam_group.id}) %>
    <% unless rank_exam.nil? %>
      <% exam_scores = ExamScore.find_all_by_exam_id(rank_exam.id) %>
      <% ordered_marks = exam_scores.map{|m| m.marks}.compact.uniq.sort.reverse %>
      <% ranks << [exam_group.id,ordered_marks] %>
    <% end %>
  <% end %>
  <% c = 'even' %>
  <div class="section1 row" id="table-headers" >
    <center>
      <table id="pdf-table" width="100%">
        <tr class="table-header">
          <td class="serial-td"><%= t('sl_no') %></td>
          <td class="adm-td"><%= t('adm_no') %></td>
          <td class="name-td"><%= t('name') %></td>
          <% @exam_groups.each do |exam_group| %>
            <td class="exam-td"><%= exam_group.name %></td>
          <% end %>
        </tr>
      </table>
    </center>
  </div>
  <% @students.each_with_index do |student,i| %>
    <div class="section1 row" >
      <center>
        <table id="pdf-table" width="100%">
          <tr class="<%= cycle(c,(["odd","even"]-[c]).first) %>">
            <td class="serial-td"><%= i+1 %></td>
            <td class="adm-td"><%= student.admission_no.present? ? student.admission_no : "-" %></td>
            <td class="name-td"><%= student.full_name %></td>
            <% @exam_groups.each do |exam_group| %>
              <% mark_list = [] %>
              <% ranks.each do|rank| %>
                <% if rank[0]==exam_group.id %>
                  <% mark_list = rank[1] %>
                <% end %>
              <% end %>
              <td class="exam-td">
                <% exam = Exam.find_by_subject_id(@subject.id,:conditions=>{:exam_group_id=>exam_group.id}) %>
                <% exam_score = ExamScore.find_by_student_id(student.id,:conditions=>{:exam_id=>exam.id}) unless exam.nil? %>
                <% unless exam.nil? %>
                  <%= exam_score.nil? ? '-' : (exam_score.marks.nil? ? '-' : (mark_list.index(exam_score.marks) + 1)) %>
                <% else %>
                  <%= "#{t('n_a')}" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        </table>
      </center>
    </div>
  <% end %>
</div>
<% if params[:page_height] %>
  <script type="text/javascript">
    var body = document.body,
    html = document.documentElement;
    var pg_height = parseInt(<%= params[:page_height] %>);
    var header = $("table-headers")
    var page = new Element('div',{'class' : 'page1'});
    var pageBreak = new Element('div',{'class' : 'page-break1'});
    var insertPageBreak = function(){body.appendChild(pageBreak.cloneNode(true))};
    var insertPage = function(){body.appendChild(page.cloneNode(true));};
    var currPage = function(){return $$('.page1').last()};
    var insertHeader = function(){
      header1 = header.cloneNode(true);
      header1.style.marginTop="50px";
      currPage().appendChild(header1.cloneNode(true));};
    var current_page_height=0;
    var i=0
    $$('.available_sections1 .section1').each(function(el){
      a = parseInt(el.getHeight());
      c=current_page_height+a;
      current_page_height=c;
      if(c>pg_height){
        current_page_height=a
        body.appendChild(new Element('div',{'id' : 'page-blank_'+i, 'class' : 'page-blank'}))
        document.getElementById('page-blank_'+i).style.height= (c-pg_height)+'px';
        document.getElementById('page-blank_'+i).innerHTML="&nbsp;"/* if a div doesnt have any content it may not display.. set height will not work */
        i+=1

        //el.style.marginTop="50px"; /* for this border-top is coming, top section of each page */
        insertPageBreak();
        /* insertHeader(); */
        insertPage();
        insertHeader();
        current_page_height = (current_page_height + header.getHeight() + 50)

      }
      currPage().appendChild(el);
    });
  </script>
<% end %>