<div id="content-header">
  <img src="/images/sms_icon.png" alt="" />
  <h1>SMS</h1>
  <h3><%= t('sms_settings.index.employees') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">
<% remote_form_for :send_sms,
        :before => "Element.show('loader2')",
        :success => "Element.hide('loader2')" do |x| %>
   <div class="label-field-pair">
     <div class="label-container"><label><%= t('layouts.default.select_a_department') %>:</label> </div>
    <div class="text-input-bg">
<%= select :send_sms, :batch_id,
        EmployeeDepartment.all.map {|b| [b.name, b.id]},
        {:prompt => "#{t('layouts.default.select_a_department')}"},
        {:onChange => "#{remote_function(:url => {:action => "list_employees"},
        :with => "'dept_id='+value",
        :before => "Element.show('loader')",
        :success => "Element.hide('loader')"
        )}"} %>

    </div>
   </div>
    <%= image_tag("loader.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader",
      :style =>"display: none;" ) %>

<div id="employee-list">
  <!--here employees of the particular department will be listed via ajax-->
</div>

<% end %>

<div id="status-message">

</div>
    <%= image_tag("loader2.gif",
      :align => "absmiddle",
      :border => 0,
      :id => "loader2",
      :style =>"display: none;" ) %>

  </div>
</div>