<% unless @batches.blank? %>
  <ul id="category-list">
    <li class="listheading">
      <div class="heading-name"><%= t("select_batches") %></div>
      <div class="heading-edit">
      </div>
    </li>
    <% @batches.each do |b| %>
      <li class="list<%=cycle('odd', 'even')%>">
        <label>
          <div class="category-edit">
            <%= check_box_tag "course[batch_ids][]", b.id, false%>
          </div>
          <div class="category-name">
            <%= "#{b.full_name}" %>
          </div>
        </label>
      </li>
    <% end %>
  </ul>
<% else %>
  <ul id="category-list">
    <li class="listheading">
      <div class="heading-name"><%= "#{t('no_batches')}" %></div>
      <div class="heading-edit">
      </div>
    </li>
  </ul>
<% end %>