<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= image_tag("/images/examination/show_exam.png") %>
  <h1><%= t('exams_text') %></h1>
  <h3><%= t('new_exam') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <div class="box">
    <div class="bread_crumb">
      <%= link_to "#{t('courses_text')}", courses_path %> &raquo;
      <%= link_to @course.full_name, @course %> &raquo;
      <%= link_to "#{t('batch')} #{@batch.name}", [@course, @batch] %> &raquo;
      <%= link_to "#{t('exams_text')}", batch_exam_groups_path(@batch) %> &raquo;
      <%= link_to @exam_group.name, [@batch, @exam_group] %> &raquo;
       <%= t('new_text') %>
    </div>

    <h5><%= t('for_exam_group') %>- <%= @exam_group.name %></h5>
    <% unless @exam_group.exam_type == 'Grades' %>
      <% form_for [@exam_group, @exam] do |f| %>
        <%= error_messages_for :exam %>
        <div class="label-field-pair">
          <label for="subject_id"><%= t('subject') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]} %></div>
        </div>
        <div class="label-field-pair">
          <label for="subject_start_time"><%= t('start_time') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= f.calendar_date_select :start_time %></div>
        </div>
        <div class="label-field-pair">
          <label for="subject_end_time"><%= t('end_time') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= f.calendar_date_select :end_time %></div>
        </div>
        <div class="label-field-pair">
          <label for="subject_maximum_marks"><%= t('max_mark') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"><%= f.text_field :maximum_marks %></div>
        </div>
        <div class="label-field-pair">
          <label for="subject_minimum_marks"><%= t('min_mark') %><span class="necessary-field">*</span></label>
          <div class="text-input-bg"> <%= f.text_field :minimum_marks %></div>
        </div>
        <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

      <% end %>

    <% else %>
      <% form_for [@exam_group, @exam] do |f| %>

        <%= error_messages_for :exam %>
        <div class="label-field-pair">
          <%= f.label :subject_id %>
          <div class="text-input-bg">  <%= f.select :subject_id, @subjects.map { |s| [s.name, s.id]} %></div>
        </div>

        <div class="label-field-pair">
          <%= f.label :start_time %>
          <div class="text-input-bg"><%= f.calendar_date_select :start_time %></div>
        </div>
        <div class="label-field-pair">
          <%= f.label :end_time %>
          <div class="text-input-bg"><%= f.calendar_date_select :end_time %></div>
        </div>

        <%= submit_tag "", :value => "► #{t('save')}", :class => "submit_button" %>

      <% end %>
    <% end %>
    <div class="extender"></div>
  </div>
</div>
