<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<% if @student.present? %>
  <% form_remote_for :assessment_scores, :url=>{:action=>"observation_scores",:batch_id=>@batch.id,:observation_group_id=>@observation_group.id,:student_id=>@student.id} do |form| %>
    <div class="table_area">
      <div class="custom_header">
        <span class="student"><%= "#{@student.full_name} - #{@student.admission_no}" %></span>
      </div>
      <table align="center" width="100%" cellpadding="1" cellspacing="1">
        <thead>
          <tr class="tr-head">
    <%#*<td class="vert"></td>%>
            <td class="fixed">Descriptive Indicator</td>
            <td class="score">Grade</td>
          </tr>
        </thead>
        <tbody>
          <% @observations.each do |ob| %>
            <% indicators=ob.descriptive_indicators %>
            <% if indicators.present? %>
              <tr class="tr-head">
                <td colspan="3" class="vert" >
                  <%= ob.name %>
                </td>
              </tr>
              <% indicators.each_with_index do |di,i| %>
                <tr class="tr-<%= cycle('odd', 'even') %>">
                  <td class="fixed">
                    <%= di.name %>
                  </td>
                  <td class="score">
                    <%= select_tag "grade[#{di.id}]",options_for_select([["",""]]+@grading_levels.map{|m| [m.name,m.grade_point.to_i]},(@scores[@student.id][di.id].present? ? @scores[@student.id][di.id].first.grade_points : "")) %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag "", :value => "► Save", :class => "submit_button" %>
  <% end %>
<% end %>
<script>
  function draw_report(){
    Element.show('loader')
    new Ajax.Request('/assessment_scores/observation_scores',
    {asynchronous:true, evalScripts:true,
      parameters:'student='+this.id+'&batch_id=<%= @batch.id %>'+'&observation_group_id=<%= @observation_group.id %>',onSuccess:function(request){Element.hide('loader')}
    })
  }
</script>