<div id="form-errors"></div>
<label class="head_label">Edit attendance for <span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br/>
  <% form_remote_for @absentee do |f| %>
  <div class="label-field-pair">
      <label for="reason"> Reason for absence</label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <% if @config.config_value == 'Daily' %>
    <div class="label-checkbox-pair">
        <label><%= f.check_box :forenoon %>Forenoon</label>
    </div>
    <div class="label-checkbox-pair">
        <label><%= f.check_box :afternoon %>Afternoon</label>
    </div>
    <% end %>
  <div class="extender"></div>
    <%= f.submit '► Update', :class => 'submit-button' %>
  <% end %>
    <div id="delete-button"><%= link_to_remote('► Delete',
          :url => attendance_path(@absentee),
          :method =>'delete',
          :confirm => 'Are you sure?') %></div>

</div>
