<label class="head_label">Attendance for <span><%= @student.first_name %></span></label>

<div id="ajax-edit">
  <br></br>
  <% form_remote_for @absentee do |f| %>
   <div id="form-errors"></div>
    <%= f.hidden_field :student_id, :value => @student.id %>
    <%= f.hidden_field :period_table_entry_id, :value => @period_entry_id %>
    <div class="label-field-pair">
      <label for="reason"> Reason for absence</label>
      <div class="text-input-bg"><%= f.text_field :reason %></div>
    </div>
    <% if @config.config_value == 'Daily' %>
      <div class="label-checkbox-pair">
        <label><%= f.check_box :forenoon, :checked => true %>Forenoon</label>

      </div>
      <div class="label-checkbox-pair">
        <label><%= f.check_box :afternoon, :checked => true %>Afternoon</label>
      </div>
    <% end %>
  <div class="extender"></div>
    <%= f.submit '► Add', :class => 'submit-button', :confirm => 'Are you sure?' %>
  <% end %>
  
</div>
