<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<br/>
<div class="linker"><%= link_to_remote "#{t('add_particular')}", :url => { :action => 'add_particulars_new',:id => @collection_date.id} %></div>
<br/>

<% unless @particulars.empty? %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('particulars') %></td>
      <td><%= t('student_category') %></td>
      <td><%= t('admission_no') %></td>
      <td><%= t('amount') %> (<%= currency %>)</td>
      <td><%= t('created_date') %></td>
      <td></td>
    </tr>
    <tr class="tr-blank"></tr>

    <% @particulars.each_with_index do |fees,i| %>
      <tr class="tr-<%= cycle("odd","even") %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-2"><%= fees.name %></td>
        <td class="col-3"><%= StudentCategory.find(fees.student_category_id).name unless fees.student_category_id.nil? %></td>
        <td class="col-3">
          <%unless fees.admission_no.nil?%>
            <%  student =  Student.find_by_admission_no(fees.admission_no)%>
            <%= student.nil? ? "#{t('n_a')}" : student.full_name %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="col-1" align="right"><%= fees.amount%></td>
        <td class="col-3"><%= I18n.l(fees.created_at,:format=>"%m-%d-%Y") %></td>
        <td class="col-3">
          <%  unless @additional_category.check_fee_collection_for_additional_fees == false %>
            <span class="small"> <%= link_to_remote t('delete_text'), :confirm=>t('delete_this_particular'),:url => { :action => 'add_particulars_delete',:id => fees.id} %></span>
            <span class="small"> <%= link_to_remote t('edit_text'), :url => { :action => 'add_particulars_edit',:id => fees.id} %></span>
          <% else %>
            <span class="small-strike"><%= t('delete_text') %></span>
            <span class="small-strike"><%= t('edit_text') %></span>
          <% end %>
        </td>
      </tr>
    <% end %>


  </table>

<% else %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('no_categories_to_display') %></td>
    </tr>
  </table>

<% end%>
<%= link_to t('back'),{:action => 'additional_fees_list'},:class=>'user_button' %>
