<div id="fee-defaulters">
  <h5><%= t('fees_submission_index.due_date_exceeded_collect_fine') %> : </h5>
<% form_for :fine, :url => {:action => 'update_defaulters_fine_ajax' } do |form| %>
 <div class="label-field-pair">
   <div class="text-input-bg">
    <%= form.text_field :fee, :value=>'' %></div>
  <%= form.hidden_field :student, :value => @student.id %>
  <%= form.hidden_field :date, :value => @date.id %>
</div>
      <%=  submit_tag "► #{t('fees_submission_index.add_fine')}",:class=>'submit_button2' %>
<% end %>

</div>