<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>
<label class="head_label"><%=  t('set_fee_collection_date') %> <span></span></label>

<% form_remote_for @finance_fee_collection,
  :url => {:action => 'fee_collection_create'} do |form| %>

<div id="form-errors"></div>
<div class="label-field-pair">
  <label for="reason"> <%= t('fee_category') %>:</label>
    <div class="text-input-bg">
      <%= form.select(:fee_category_id, @fee_categories.map { |item| [item.name, item.name] },
      {:prompt => "#{ t('select_category')}" },
      {:onchange => "#{remote_function(:url => {:action => "fee_collection_batch_update"}, :with => "'id='+value")}"})
      %></div>
  </div>
  <div id ="batchs"></div>
  <div class="label-field-pair">
    <label for="reason">  <%= t('fee_collection_name') %>:</label>
    <div class="text-input-bg"><%= form.text_field :name%></div>
  </div>
  <div class="label-field-pair">
    <label for="reason">  <%= t('start_date') %>:</label>
    <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[start_date]', I18n.l(Date.today,:format=>:default),:popup=>"force" %></div>
  </div>
  <div class="label-field-pair">
    <label for="reason">  <%= t('end_date') %>:</label>
    <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[end_date]',I18n.l(Date.today,:format=>:default), :popup=>"force" %></div>
  </div>
  <div class="label-field-pair">
    <label for="reason">  <%= t('due_date') %>:</label>
    <div class="text-input-bg"><%= calendar_date_select_tag 'finance_fee_collection[due_date]', I18n.l(Date.today,:format=>:default), :popup=>"force"%></div>
  </div>

  <div class="extender"></div>
  <div id="submit-button">
      <%=  submit_tag "► #{t('create_text')}",:class=>'submit_button' %>
  </div>
<% end %>
