<% if @due_date.to_date < Date.today %>

<% form_remote_for :fine, :url => {:action => 'update_fine_ajax' } do |form| %>
<div class="fine_info">
       <div class="label-field-pair1">
         <label><%= t('fees_submission_index.due_date_exceeded_collect_fine') %></label>
         <div class="text-input-bg1"><%= form.text_field :fee, :value=>'' %></div>
   </div>
 <%=   submit_tag t('fees_submission_index.add_fine'),:class=>'submit_button2' %>
</div>
  <div class="extender"></div>
  <%= form.hidden_field :student, :value => @student.id %>
  <%= form.hidden_field :batch_id, :value => @batch.id %>
  <%= form.hidden_field :date, :value => @date.id %>


<% end %>
<% end %>