
<table id="listing" width="99%" align="center">
  <tr class="tr-head">
    <td><%= t('asset_liability.liability') %></td>
    <td><%= t('view_asset.created_at') %></td>
    <td></td>
  </tr>

  <% @liabilities.each do |l| %>

    <% if l.is_solved? %>
      <tr class="solved">
        <td class="col-3"><%=link_to l.title+"(solved)" ,:action=>"each_liability_view",:id => l.id%></td>

        <td class="col-3"><%=link_to l.created_at.strftime("%d-%m-%Y"),:action =>"each_liability_view",:id => l.id%></td>
        <td class="col-1">
        <%= link_to_remote t('layouts.default.edit'), :url => { :action => 'edit_liability', :id => l.id } %> |
        <%= link_to_remote t('layouts.default.delete'), :url => { :action => 'delete_liability', :id => l.id } %></td>
      </tr>
    <% else %>
      <tr class="tr-<%= cycle('odd', 'even')%> ">
        <td class="col-3"><%=link_to l.title ,:action=>"each_liability_view",:id => l.id%></td>

        <td class="col-3"><%=link_to l.created_at.strftime("%d-%m-%Y"),:action =>"each_liability_view",:id => l.id%></td>
        <td class="col-1">
          <%= link_to_remote t('layouts.default.edit'), :url => { :action => 'edit_liability', :id => l.id } %> |
          <%= link_to_remote t('layouts.default.delete'), :url => { :action => 'delete_liability', :id => l.id } ,:confirm=>t('layouts.default.delete_confirm_msg')%>
        </td>

      </tr>
    <% end %>
  <% end %>
</table>