<label class="head_label"><%= t('layouts.default.edit') %> <%= t('fees_create.master') %> <%= t('layouts.default.category') %><span></span></label>



<div id="grading-levels-form">

  <% form_remote_for @finance_fee_category,
    :url=>{:action=>'master_category_update',
    :id => @finance_fee_category.id}  do |f| %>

    <div id="form-errors"></div>
       <div class="label-field-pair">
    <div class="label-container"><%= f.label :"#{t('layouts.default.name')}" %></div>
    <div class="input-container"><%= f.text_field :name %></div>
   </div>

  <div class="label-field-pair">
    <div class="label-container"><%= f.label :"#{t('layouts.default.description')}" %></div>
    <div class="input-container"><%= f.text_field :description %></div>
  </div>

     <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.select_a_batch') %> :</label></div>
    <div class="input-container">
<% unless @finance_fee_category.batch.nil? %>
  <%= f.text_field :batch, :value => @finance_fee_category.batch.full_name, :disabled => true   %>
  <% else %>
  <%= f.text_field :batch, :value => 'ALL', :disabled => true   %>
  <% end %>
    </div>

  </div>


  <%=  submit_tag "► #{t('layouts.default.save')}",:class=>'submit_button' %>
  <% end %>
</div>