<label class="head_label"><%= t('layouts.default.create') %> <%= t('fees_create.master') %> <%= t('layouts.default.category') %> <%= t('layouts.default.for') %> <%= t('index.fees') %><span></span></label>


<div id="grading-levels-form">

  <% form_remote_for @finance_fee_category, :url=>{:action=>'master_category_create'} do |f| %>

    <div id="form-errors"></div>


    <div class="label-field-pair">
      <div class="label-container"><%= f.label :"#{t('layouts.default.name')}" %></div>
      <div class="input-container"><%= f.text_field :name %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><%= f.label :"#{t('layouts.default.description')}" %></div>
      <div class="input-container"><%= f.text_field :description %></div>
    </div>

    <div class="label-field-pair">
      <div class="label-container"><label><%= t('layouts.default.select_a_batch') %> :</label></div>
      <%#= f.select :batch_id, @batches.map { |c| [c.full_name, c.id] },{:prompt => 'Select Batch'} %>
      <div class="batches">
         <div class="sel-list">
           <%= t('layouts.default.select') %>: <%= link_to_function t('layouts.default.all'), "$$('input.MB_focusable').each(function(checkbox) { checkbox.checked = true; });" %>,
      <%= link_to_function t('layouts.default.none'), "$$('input.MB_focusable').each(function(checkbox) { checkbox.checked = false; });" %>
    </div>
      <% @batches.each do |f| %>
        <div class="each_batch">
          <%= check_box_tag "finance_fee_category[batch_id][]", f.id %> <%= f.full_name %>
        </div>
      <% end %></div>
    </div>

    <%=  submit_tag "► #{t('layouts.default.save')}",:class=>'submit_button' %>


  <% end %>
</div>