  <% form_for :transaction, :url => { :id => @transaction.id } do |form| %>
  <div id="create_user_form">

    <div class="label-field-pair">
      <label for="title"><%= t('news.all.title') %> </label>
      <div class="text-field-bg"><%= form.text_field :title %> </div>
    </div>
    <div class="label-field-pair">
      <label for="description"><%= t('layouts.default.description') %></label>
      <div class="text-field-bg"><%= form.text_field :description %> </div>
    </div>


    <div class="label-field-pair">
      <label for="amount"><%= t('layouts.default.amount') %></label>
      <div class="text-field-bg"><%= form.text_field :amount %> </div>
    </div>
    <div class="label-field-pair">
      <label for="amount"><%= t('layouts.default.date') %></label>
      <div class="text-field-bg"><%= calendar_date_select_tag transaction[transaction_date], I18n.localize(Date.today, :format=>:default), :year_range => 5.years.ago..0.years.ago %></div>
    </div>
    <div class="label-field-pair">
      <label for="category"><%= t('index.category') %></label>
      <div class="text-input-bg"><%= select :transaction, :category_id,@categories.map { |c| [c.name, c.id] }, :selected => @transaction.category_id %></div>
    </div>

    <%=  submit_tag "► #{t('layouts.default.save')}",:class=>'submit_button' %>
  </div>
<% end %>
