<label class="head_label"><%= t('index.edit_automatic_transaction') %><span></span></label>

<% form_remote_for :transaction_trigger,
    :url => {:action => 'transaction_trigger_update',:id=>@transaction_trigger.id},
    :complete => 'Modalbox.hide();return false;' do |form| %>


   <div class="label-field-pair">
    <div class="label-container"><%= form.label :"#{t('index.category')}" %></div>
    <div class="input-container"><%= form.select :finance_category_id, @categories.map { |c| [c.name, c.id] } %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"><%= form.label :"#{t('payroll.add_category.percentage')}" %></div>
    <div class="input-container"><%= form.text_field :percentage %></div>
   </div>

<div class="label-field-pair">
     <div class="label-container"><%= form.label :"#{t('index.title')}" %></div>
    <div class="input-container"><%= form.text_field :title %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"> <%= form.label :"#{t('index.description')}"%></div>
    <div class="input-container"> <%= form.text_field :description %></div>
   </div>

 <div id="modelbox-submit">
          <%=  submit_tag "► #{t('layouts.default.save')}",:class=>'submit_button' %>
  </div>
<% end %>
