<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<ul id="category-list">
  <% @triggers.each do |trigger| %>
    <li class="list<%= cycle('odd','even') %>">
      <div class="category-name"><%= trigger.finance_category.name %> - <%= trigger.percentage %></div>
      <div class="category-delete"><%= link_to_remote t('edit_text'),:url=>{:controller=>'finance',:action=>'transaction_trigger_edit',:id=>trigger.id} %></div>
      <div class="category-delete"><%= link_to_remote t('delete_text'),:confirm=>"#{t('delete_confirm_msg')}",:url=>{:controller=>'finance',:action=>'transaction_trigger_delete',:id=>trigger.id} %></div></li>
  <% end %>
</ul>
