<label class="head_label"><%= t('automatic_transactions.create_automatic_transaction') %><span></span></label>

<% form_remote_for :transaction_trigger,
    :url => {:action => 'transaction_trigger_create'} do |form| %>


   <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.category') %></label></div>
    <div class="input-container"><%= form.select :finance_category_id, @categories.map { |c| [c.name, c.id] } %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"><label><%= t('payroll.add_category.percentage') %></label></div>
    <div class="input-container"><%= form.text_field :percentage %></div>
   </div>

<div class="label-field-pair">
  <div class="label-container"><label><%= t('news.all.title') %></label></div>
    <div class="input-container"><%= form.text_field :title %></div>
   </div>

<div class="label-field-pair">
    <div class="label-container"> <label><%= t('layouts.default.description') %></label></div>
    <div class="input-container"> <%= form.text_field :description %></div>
   </div>

 <div id="modelbox-submit">
          <%=  submit_tag "► #{t('weekday.index.save')}",:class=>'submit_button' %>
  </div>
<% end %>
