<div id="content-header">
    <img src="/images/show_finance.png" alt="" />
  <h1>Fees</h1>
  <h3>Additional Fees</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div id="particulars" >
<div class="name">Category Name</div><div class="val"><span>:</span><%= @additional_category.name %></div>
 <div class="name">Description</div><div class="val"><span>:</span><%= @additional_category.description %></div>

  <% unless @additional_category.batch.nil? %>
  <div class="name">Course</div><div class="val"><span>:</span><%= @additional_category.batch.full_name %></div>
    <% else %>
  <div class="name">Course</div><div class="val"><span>:</span>NIL</div>
  <% end %>
<br/>

<% unless @particulars.empty? %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>Sl no.</td>
      <td>Particulars</td>
      <td>Student Category</td>
      <td>Admission No</td>
      <td>Amount (<%= currency %>)</td>
      <td>Created Date</td>
      <td></td>
    </tr>
    <tr class="tr-blank"></tr>

    <% @particulars.each_with_index do |fees,i| %>
      <tr class="tr-<%= cycle("odd","even") %>">
        <td class="col-1"><%= i+1 %></td>
        <td class="col-3"><%= shorten_string(fees.name,20) %></td>
        <td class="col-3"><%= StudentCategory.find(fees.student_category_id).name unless fees.student_category_id.nil? %></td>
        <td class="col-3">
          <%unless fees.admission_no.nil?%>
            <%  student =  Student.find_by_admission_no(fees.admission_no)%>
            <%= student.nil? ? "N.A." : student.full_name %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="col-1" align="right"><%= fees.amount%></td>
        <td class="col-3"><%= fees.created_at.strftime("%m-%d-%Y") %></td>
        <td class="col-1">
          <%  unless @additional_category.check_fee_collection_for_additional_fees == false %>
            <span class="small"> <%= link_to_remote 'Delete', :confirm=>"Delete this particular ?",:url => { :action => 'add_particulars_delete',:id => fees.id} %></span>
          <% else %>
            <span class="small-strike">delete</span>
          <% end %>
          <span class="small"> <%= link_to_remote 'Edit', :url => { :action => 'add_particulars_edit',:id => fees.id} %></span>
        </td>
      </tr>
    <% end %>


  </table>

<% else %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td>No Categories to display!</td>
    </tr>
  </table>

<% end%>
<%= link_to 'Back',{:action => 'additional_fees_list'},:class=>'user_button' %>
 </div>
</div>
 <div id="modal-box" style="display:none;"></div>