<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('additional_fees.additional_fees') %></h1>
  <h3><%= t('additional_fees.create_additional_fees') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
   <div class="box">
  <% form_for(:additional_fees,:url => {:action=> 'additional_fees_create'}) do |form| %>

     <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.name') %> <span class="necessary-field">*</span> :</label> </div>
    <div class="input-container"><%= form.text_field :name %></div>
   </div>
       <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.description') %>: </label> </div>
    <div class="input-container"><%= form.text_field :description %></div>
   </div>
       <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.batch') %> : </label></div>
    <div class="input-container"><%= form.select :batch_id, @batches.map { |c| [c.full_name, c.id] },:prompt => "Select Batch"  %></div>
   </div>
       <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.start_date') %> <span class="necessary-field">*</span> :</label> </div>
    <div class="input-container"><%= calendar_date_select_tag 'additional_fees[start_date]', Date.today %></div>
   </div>
       <div class="label-field-pair">
    <div class="label-container"><label>End date <span class="necessary-field">*</span>:</label> </div>
    <div class="input-container"><%= calendar_date_select_tag 'additional_fees[end_date]', Date.today %></div>
   </div>
       <div class="label-field-pair">
    <div class="label-container"><label><%= t('layouts.default.due_date') %> <span class="necessary-field">*</span> :</label> </div>
    <div class="input-container"><%= calendar_date_select_tag 'additional_fees[due_date]', Date.today %></div>
   </div>

    <%=  submit_tag "► #{t('layouts.default.save')}",:class=>'submit_button' %>
  <% end %>

</div>
</div>