<div id="content-header">
  <img src="/images/examination/index/page_logo.jpg" alt="" />
  <h1><%= t('asset.finance_academic_year_report') %></h1>
  <h3><%= t('year_report.direct_income') %></h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <%income_total = 0%>
  <div id="fees-table">
    <div class="fees-th">
      <div class="fees-table-description"><%= t('index.description') %></div>
      <div class="fees-table-expenses"><%= t('layouts.default.amount') %></div>
    </div>

    <% @transactions_not_fees.each do |t| %>

      <% if t.category.is_income? %>
        <div class="fees-tr">
          <div class="fees-table-description"><%=t.title %></div>
          <div class="fees-table-expenses"><%=t.amount %></div>
          <%income_total +=t.amount%>
        </div>
      <% end %>

    <%end%>
    <br/>
    <div class="fees-th">
      <div class="fees-table-description"><%= t('asset.total_income') %></div>
      <div class="fees-table-expenses"><%=income_total%></div>
    </div>

  </div>
</div>
