<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('finance_monthly_report') %></h1>
  <h3><%= t('donations') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">

  <%donations_total=0%>
  <%donations_income=0%>
  <%donations_expenses=0%>
  <div id="fees-table">
    <div class="fees-th">
      <div class="fees-table-description"><%= t('description') %></div>
      <div class="fees-table-expenses"><%= t('credit') %></div>
      <div class="fees-table-income"><%= ('debit') %></div>
    </div>

    <% @donations.each do |d| %>
      <% if d.category.is_income? %>
        <% donations_income+=d.amount %>
        <div class="fees-tr">
          <div class="fees-table-description"><%=d.title %></div>
          <div class="fees-table-income"><%=d.amount %></div>
        </div>
      <%else%>
        <% donations_expenses+=d.amount %>
        <div class="fees-tr">
          <div class="fees-table-description"><%=d.title %></div>
          <div class="fees-table-expenses"><%=d.amount %></div>
        </div>
      <%end%>
      <% @trigger.each do |trigger|   %>
        <%unless trigger.finance_category.id.nil? %>

          <% if d.category_id == trigger.finance_category.id %>
            <%donations_expenses += (d.amount * (trigger.percentage / 100))%>
            <div class="fees-tr">
              <div class="fees-table-description"><%=trigger.title+"("+trigger.description+")" %></div>
              <div class="fees-table-expenses"><%=(d.amount * (trigger.percentage / 100)) %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%donations_total=donations_income-donations_expenses %>
    <br/>
    <div class="fees-th">
      <div class="fees-table-description"><%= t('total') %></div>
      <div class="fees-table-total"><%=donations_total%></div>
    </div>

  </div>
</div>
