<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
   <h1><%= t('index.donations') %></h1>
   <h3><%=t('donation.donors')  %></h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <h4> <%= t('index.list_of_donors') %> </h4>
  <table id="listing">
    <tr class="tr-head">
      <td><%= t('layouts.default.name') %></td>
      <td><%= t('index.description') %></td>
      <td><%= t('layouts.default.amount') %></td>
      <td><%= t('view_asset.created_at') %></td>
      <td></td>
    </tr>
<% @donations.each do |d| %>
  <tr class="tr-<%= cycle('odd','even') %>">
  <td class="col-3"><%= link_to d.donor,:action=>'donation_receipt',:id=>d.id %></td>
  <td class="col-3"><%= d.description %></td>
  <td class="col-3"><%= d.amount %></td>
<td class="col-3"><%= d.transaction_date.strftime("%d-%m-%y") unless d.transaction_date.nil?%></td>
 <td class="col-3 links_class"><%= link_to t('layouts.default.edit'), :action => 'donation_edit', :id => d.id %>  |  <%= link_to t('layouts.default.delete'), :action => 'donation_delete',  :id=> d.id , :confirm => t('layouts.default.delet_confirm_msg')%></td>
    </tr>
<% end %>

  </table>
</div>