<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1>Asset View</h1>
  <h3><%= @asset.title %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">


  <div id="asset-body">
    <div id="asset-title">Asset Name : <%= @asset.title%></div>
    <div id="asset-description"><%= @asset.description %></div>
    <br/>
    <div id="asset-amt">Amount : <%=  @currency_type + " "%><%= @asset.amount%></div>
    <div id="asset-date">Created At : <%= @asset.created_at.strftime("%A, %d %B, %Y") %></div>
  </div>



</div>