<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('expenses') %></h1>
  <h3><%= t('expenses_list') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="inner-tab-menu">
  <ul>
    <li><%= link_to "#{t('pdf_report')}",
            {:controller => "finance", :action => "expense_list_pdf", :start_date => @start_date, :end_date=>@end_date},:target => '_blank' %></li>
  </ul>
</div>
<div id="page-yield">
  <% unless @expenses.empty? %>
    <br />
    <table id="listing">
      <tr class="tr-head">
        <td><%= t('name') %></td>
        <td><%= t('description') %></td>
        <td><%= t('voucher_no') %></td>
        <td><%= t('amount') %></td>
        <td><%= t('transaction_date') %></td>
        <td></td>
      </tr>
      <% @expenses.each do |d| %>
        <tr class="tr-<%= cycle('odd','even') %>">
          <td class="col-2"><%= d.title %></td>
          <td class="col-2"><%= d.description %></td>
          <td class="col-1"><%= d.voucher_no %></td>
          <td class="col-1"><%= d.amount %></td>
          <td class="col-4"><%= d.transaction_date.strftime("%d-%m-%y") unless d.transaction_date.nil?%></td>
          <td class="col-3"><small><%= link_to "#{t('edit_text')}",{:action=>'expense_edit',:id=>d.id},:class=>'edit_link' %></small> | <small><%= link_to "#{t('delete_text')}",:action=>'delete_transaction',:id=>d.id %></small></td>
        </tr>
      <% end %>

    </table>
  <% else %>
    <br />
    <p class="flash-msg"><%= t('no_transaction_for_the_given_period') %></p>
  <% end %>

</div>
