<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('asset.expenses') %></h1>
  <h3><%= t('asset.expenses_list') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">
    <% unless flash[:notice].nil? %>
    <p class="flash-msg"><%= flash[:notice] %></p>
  <% end %>
    <% unless flash[:warn_notice].nil? %>
    <div id="errorExplanation" class="errorExplanation"><p><%= flash[:warn_notice] %></p> </div>
  <% end %>
    <% form_for :report, :url => {:action => 'expense_list_update'} do |form| %>
      <div class="label-field-pair">
        <label><%= t('finance.monthly_report.select_start_date') %>:</label>
        <div class="input-container"><%= calendar_date_select_tag 'start_date', I18n.localize(Date.today, :format=>:default) %></div>
      </div>
      <div class="label-field-pair">
        <label><%= t('monthly_report.select_end_date') %>: </label>
        <div class="input-container"><%= calendar_date_select_tag 'end_date', I18n.localize(Date.today, :format=>:default) %></div>
      </div>

      <%=  submit_tag "► OK",:class=>'submit_button' %>
    <%end%>
    <div id="expense_list">
    </div>
  </div>
</div>