<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1><%= t('index.create_fees') %></h1>
  <h3><%= t('fees_index.creates_master_fees_and_additional_fees') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

    <div class="box">

  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('fees_index.master_fees')}", :action => "master_fees" %></div>
    <div class="link-descr"><%= t('fees_index.create_master_fees') %></div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "#{t('additional_fees.additional_fees')}", :action => "additional_fees" %></div>
    <div class="link-descr"><%= t('additional_fees.create_additional_fees') %></div>
  </div>


</div>
</div>