<div id="content-header">
  <img src="/images/show_finance.png" alt="" />
  <h1>Fees</h1>
  <h3>Manages Fees</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">

  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
  <div class="box">
  <div class="link-box">
    <div class="link-heading"><%= link_to "Fees Create", :action => "fees_create" %></div>
    <div class="link-descr">Creates Master Fees and Additional Fees</div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Fee collection", :action => "fee_collection" %></div>
    <div class="link-descr">Creates new fee collecting dates </div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Fees", :controller => "finance" , :action => "fees_submission_index" %> </div>
    <div class="link-descr">Fee Submission </div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Fees Structure", :action => "fees_student_structure_search" %> </div>
    <div class="link-descr">Displays fees Structure for student</div>
  </div>

  <div class="link-box">
    <div class="link-heading"><%= link_to "Fees Defaulters", :action => "fees_defaulters" %></div>
    <div class="link-descr">Students with fees dues </div>
  </div>
</div>
</div>