
<% if @students_result.nil? %>
  <div id="no_result"><%= t('student.index.no_users_found') %></div>
<%else%>
  <% @students_result.each do |t| %>
    <div id="ajax_result">
      <% link_value = t.full_name %>
      <%= link_to link_value, :controller => "finance", :action => "fees_structure_dates", :id => t.id %><br/>
      <small><%= t('layouts.default.batch') %>: <%= t.batch.full_name%></small>
      <small><br/><%= t('layouts.default.adm_no.') %><%= t.admission_no %></small> <%= @st.to_s %>
    </div>
  <%end%>
<%end%>

  