
<div id="content-header">
    <img src="/images/show_finance.png" alt="" />
  <h1>Finance</h1>
  <h3>Fees Submission</h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

  <div id="search_box_bg">
      <form name="search_form" action="" style="display:inline;">
        <label for="user_name">
          Search
          <%= image_tag("loader.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "loader",
              :style =>"display: none;" ) %>
        </label>
        <div id="search_textbox">
          <%= text_field_tag("query", params['query'], :autocomplete => 'off') %><br/>
        </div>
      </form>
  </div>
  <%= observe_fields ['query'],
         :frequency => 0.5,
         :update => 'information',
         :before => "Element.show('loader')",
         :success => "Element.hide('loader')",
         :url => {:action => 'search_logic'} %>


<div id="information"></div>
</div>

