<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1>Incomes</h1>
  <h3>Income List</h3>
  <div id="app-back-button">
   <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>
<div id="page-yield">
  <div class="box">
     <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>
    <% form_for :report, :url => {:action => 'income_list_update'} do |form| %>
      <div class="label-field-pair">
        <label>Select start date:</label>
        <div class="input-container"><%= calendar_date_select_tag 'start_date', Date.today %></div>
      </div>
      <div class="label-field-pair">
        <label>Select End date: </label>
        <div class="input-container"><%= calendar_date_select_tag 'end_date', Date.today %></div>
      </div>

      <%=  submit_tag "► OK",:class=>'submit_button' %>
    <%end%>

  </div>

</div>