<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1>Create Income </h1>
  <h3>Create New Income</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="inner-tab-menu">
 <ul>
  <li><%= link_to "Incomes", :action => "income_list" %></li>
 </ul>
</div>

<div id="page-yield">
  <% unless flash[:notice].nil? %><p class="flash-msg"><%= flash[:notice] %></p><% end %>

  <div class="box">
    <%=  error_messages_for :income %>
  <%= render :partial => "transaction_create_form" %>
</div>
</div>