<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= @department.name %><%= t('department_salary_report') %></h1>
  <h3><%= t('finance_transactions') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% total=0 %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('employee_name') %></td>
      <td><%= t('salary') %>( <%= currency %> )</td>
      <td><%= t('salary_date') %></td>
    </tr>
    <tr class="tr-blank"></tr>
    <% amount=0 %>
    <% monthly_payslips = @payslips[:monthly_payslips].group_by(&:salary_date) %>
    <% individual_categories = @payslips[:individual_categories].group_by(&:employee_id) unless @payslips[:individual_categories].blank? %>
    <% i = 0 %>
    <% monthly_payslips.each do |(salary_date,payslip)| %>
      <% emp_payslip = payslip.group_by(&:employee_id) %>
      <% emp_payslip.each do |(empid,payslip)| %>
        <% unless individual_categories.blank? %>
          <%  individual_payslip_category = individual_categories[empid] unless individual_categories[empid].nil?  %>
        <% end %>
        <% employee_id = payslip.first.active_or_archived_employee.class.to_s=="ArchivedEmployee" ?  payslip.first.active_or_archived_employee.former_id :  payslip.first.active_or_archived_employee.id %>
        <tr class="tr-<%= cycle("even","odd") %>">
          <td class ="col-1"><%=i+1%></td>
          <td class="col-2"><%= link_to payslip.first.active_or_archived_employee.full_name + " - " , :action => 'employee_payslip_monthly_report',:id2 => salary_date.to_date,:id =>employee_id %> <%= I18n.l(salary_date,:format=>"%B,%Y")%> </td>
          <%  amount = Employee.calculate_salary(payslip,individual_payslip_category)[:net_amount]%>
          <td class="col-3" align="right"> <%=  amount  %> </td>
          <td class="col-3"> <%=salary_date %> </td>
          <% total+=amount %>
          <% amount=0 %>
          <% i +=1 %>
        </tr>
      <% end %>


    <% end %>
    <tr class="tr-blank"></tr>
    <tr class="tr-head">
      <td></td>
      <td align="right"><%= t('total_salary') %></td>
      <td align="right"><%=total  %></td>
      <td></td>
    </tr>
  </table>
</div>