<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>


<div id="content-header">
<%= image_tag("/images/show_finance.png") %>
  <h1><%= t('department_wise_salary_report') %></h1>
  <h3><%= t('finance_transactions') %></h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <% total=0 %>
  <table id="listing" align="center" width="100%" cellpadding="1" cellspacing="1">
    <tr class="tr-head">
      <td><%= t('sl_no') %></td>
      <td><%= t('particulars') %></td>
      <td><%= t('amount') %>( <%= currency %> )</td>
    </tr>
    <tr class="tr-blank"></tr>
    <% department_total_amount=0 %>
    <%@departments.each_with_index do |d,i|%>
      <tr class="tr-<%= cycle("even","odd") %>">
        <td class ="col-1"><%=i+1%></td>

        <td class="col-2"><%=link_to d.name,:action => 'salary_employee',:start => @start_date,:end => @end_date,:id => d.id %></td>
        <% department_total_amount = MonthlyPayslip.total_employees_salary(@start_date,@end_date,d.id)[:total_salary] %>
        <td class="col-3" align="right"><%=  department_total_amount  %> </td>
        <% total += department_total_amount %>
        <% department_total_amount=0 %>
      </tr>
    <% end %>
    <tr class="tr-blank"></tr>
    <tr class="tr-head">
      <td><%= t('total') %></td>
      <td></td>
      <td align="right"><%=total%></td>
    </tr>
  </table>
</div>
