

  <% if @students_result.nil? or @students_result.empty? %>
  <div id="no_result">No users found</div>
<% else %>
  <% @students_result.each_with_index do |r,i| %>
    <%= '<div class="students-on-one-line">' if i%4 == 0 %>
    <div id="ajax_result">
      <% link_value = r.full_name %>
      <%= link_to link_value, :controller => "finance", :action => "fees_structure_dates", :id => r.id %><br/>
      <small>Course : <%= r.batch.name %> </small>
      <small><br/>Adm No.<%= r.admission_no %></small> <%= @st.to_s %>
    </div>
   <%= '</div>' if i%4 == 3 %>
  <% end %>

<% end %>