<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="new_profile_info_top">
  <div class="profile_info_label_top"><%= t('home_address') %></div>
  <div class="profile_info_text_top"><%= @employee.home_address_line1 %></div>

  <div class="profile_info_label_top2">&nbsp;</div>
  <div class="profile_info_text_top2"><%= @employee.home_address_line2 %></div>

  <div class="profile_info_label_top"><%= t('city') %></div>
  <div class="profile_info_text_top"><%= @employee.home_city %></div>

</div>


<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('state') %></div>
  <div class="profile_info_text_top2"> <%= @employee.home_state %> </div>

  <div class="profile_info_label_top"><%= t('country') %></div>
  <div class="profile_info_text_top"> <%= @home_country %> </div>

</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('pin_code') %></div>
  <div class="profile_info_text_top2"> <%=  @employee.home_pin_code %> </div>

  <div class="profile_info_label_top"></div>
  <div class="profile_info_text_top"></div>
</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('office_address') %></div>
  <div class="profile_info_text_top2"><%=  @employee.office_address_line1 %></div>

  <div class="profile_info_label_top">&nbsp;</div>
  <div class="profile_info_text_top"><%= @employee.office_address_line2 %></div>
</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('city') %></div>
  <div class="profile_info_text_top2"> <%=  @employee.office_city %> </div>

  <div class="profile_info_label_top"><%= t('state') %></div>
  <div class="profile_info_text_top"><%= @employee.office_state %></div>
</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('country') %></div>
  <div class="profile_info_text_top2"> <%=  @office_country %> </div>

  <div class="profile_info_label_top"><%= t('pin_code') %></div>
  <div class="profile_info_text_top"><%= @employee.office_pin_code %></div>
</div>


<div class="extender"></div>
<div class="edit-pdf-group">
  <div class="pdf">
    <%= link_to " ► #{t('pdf_report')}",
      {:controller => "employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
  </div>
</div>