<%-# Fedena
#Copyright 2010 Foradian Technologies Private Limited
#
#This product includes software developed at
#Project Fedena - http://www.projectfedena.org/
#
#Licensed under the Apache License, Version 2.0 (the "License");
#you may not use this file except in compliance with the License.
#You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="new_profile_info_top">
  <div class="profile_info_label_top"><%= t('date_of_birth') %></div>
  <div class="profile_info_text_top">
    <%= @employee.date_of_birth%>
  </div>

  <div class="profile_info_label_top2"><%= t('marital_status') %></div>
  <div class="profile_info_text_top2"><%= @employee.marital_status %></div>

  <div class="profile_info_label_top"><%= t('no_of_children') %></div>
  <div class="profile_info_text_top"> <%= @employee.children_count %> </div>
</div>


<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('father_name') %></div>
  <div class="profile_info_text_top2"> <%= @employee.father_name %> </div>

  <div class="profile_info_label_top"><%= t('mother_name') %></div>
  <div class="profile_info_text_top"> <%= @employee.mother_name %> </div>
</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"><%= t('spouse_name') %></div>
  <div class="profile_info_text_top2"><%=  @employee.husband_name %></div>

  <div class="profile_info_label_top"><%= t('blood_group') %></div>
  <div class="profile_info_text_top"> <%= @employee.blood_group %> </div>
</div>

<div class="new_profile_info_area1">
  <div class="profile_info_label_top2"  ><%= t('nationality') %></div>
  <div class="profile_info_text_top2"><%= @employee.nationality.name %></div>
</div>
<div class="extender"></div>
<div class="edit-pdf-group">
  <div class="pdf">
    <%= link_to " ► #{t('pdf_report')}",
      {:controller => "employee", :action => "profile_pdf", :id => @employee.id},:target => '_blank', :class=> 'user_button' %>
  </div>
</div>