<% arrow_dir = rtl? ? "◀" : "▶" %>
<ul id="main-menu">
  <li class="a"><%= link_to t('dashboard_text'), :controller => "user", :action => "dashboard" %></li>
  <% if permitted_to? :index, :student %>
    <li class="a"><%= link_to t('students'), :controller => "student", :action => "index" %></li>
  <% end %>
  <% if permitted_to? :index, :attendance_reports or permitted_to? :index, :attendances %>
    <li class="a"><%= link_to "#{t('attendance')} ▼", :controller => "student_attendance", :action => "index" %>
      <ul class="level-1">
        <% if permitted_to? :index, :attendances %>
          <li><%= link_to "#{t('attendance_register')}", :controller => 'attendances', :action => 'index'  %></li>
        <% end %>
        <% if permitted_to? :index, :attendance_reports or permitted_to? :index, :attendances%>
          <li><%= link_to "#{t('attendance_report')}", :controller => "attendance_reports", :action => "index" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if permitted_to? :index, :configuration %>
    <li class="a"><%= link_to "#{t('settings')} ▼", :controller => "configuration", :action => "index" %>
      <ul class="level-1">
        <% if permitted_to? :create, :courses %>
          <li><%= link_to "#{t('manage_course_batch')}", courses_path %></li>
        <% end %>
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('manage_student_category')}", :controller => "student", :action => "categories" %></li>
        <% end %>
        <% if permitted_to? :index, :subjects %>
          <li><%= link_to "#{t('manage_subject')}", subjects_path %></li>
        <% end %>
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('general_settings')}", :controller => "configuration", :action => "settings" %></li>
        <% end %>
        <% if permitted_to? :settings, :configuration %>
          <li><%= link_to "#{t('add_admission_additional_detail')}", :controller=>"student", :action => "add_additional_details" %></li>
        <% end %>
        <% if permitted_to? :index, :sms %>
          <% if @modules.include?('SMS') %>
            <li><%= link_to "#{t('sms_module')}", :controller=>"sms", :action => "index" %></li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>
  <!--
  <li><%= link_to t('news_text'), :controller => "news", :action => "index" \
    if @current_user.admin? %></li> -->
  <% if permitted_to? :index, :timetable %>
    <li class="a"><%= link_to "#{t('timetable_text')} <span class='down-arrow'>▼</span>", :controller => "timetable", :action => "index" %>
      <ul class="level-1">
        <%if permitted_to? :edit,:timetable%>
          <% if @modules.include?('HR') %>
            <li><%= link_to "#{t('create_or_edit_timetable')}", :controller => "timetable", :action => "select_class2" %></li>
          <% else %>
            <li><%= link_to "#{t('create_or_edit_timetable')}", :controller => "timetable", :action => "select_class" %></li>
          <% end %>
          <li><%= link_to "#{t('set_class_timings')}", :controller => "class_timings", :action => "index"   %></li>
        <%  end%>
        <%  if permitted_to? :view,:timetable%>
          <li><%= link_to "#{t('view_timetable')}", :controller => "timetable", :action => "view" %></li>
        <%  end%>
        <%  if permitted_to? :edit,:timetable%>
          <% if @attendance_type == 'SubjectWise' %>
            <li><%= link_to "#{t('swap_class')}", :controller => "timetable", :action => "extra_class" %></li>
          <%  end %>
        <%  end %>
        <li><%= link_to "#{t('institutional')} #{t('timetable_text')}", :controller => "timetable", :action => "timetable" %></li>
        <%  if permitted_to? :edit,:timetable%>
          <li><%= link_to "#{t('create_text')} #{t('weekdays_text')}", :controller => "weekday", :action => "index" %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <% if @current_user.admin? %>
    <% FedenaPlugin::AVAILABLE_MODULES.each do |mod| %>
      <% unless mod[:top_bar].blank? %>
        <% if permitted_to? "#{mod[:top_bar][:action]}".to_sym,"#{mod[:top_bar][:controller]}".to_sym %>
          <%= link_to "#{t(mod[:top_bar][:title])}", {:controller => "#{mod[:top_bar][:controller]}", :action => "#{mod[:top_bar][:action]}"} %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <li class="a"><a href="#"><%= t('more') %> ▼</a>
    <ul class="level-1">
      <li><%= link_to "#{t('calendar_text')}" , :controller => "calendar", :action=>"index" %></li>
      <% if permitted_to? :index, :exam %>
        <li><%= link_to "#{t('examination')} <span class='right-arrow'>#{arrow_dir}</span>" , :controller => "exam", :action=>"index" %>
          <ul class="level-2">
            <%  if permitted_to? :index,:grading_levels %>
              <li><%= link_to "#{t('set_grading_levels')}" ,:controller=>'grading_levels',:action=>'index' %> </li>
            <% end %>
            <% @employee_subjects=[] %>
            <% @employee_subjects= @current_user.employee_record.subjects.map { |n| n.id} if @current_user.employee?  %>
            <%  if permitted_to? :create_exam, :exam  %>
              <li><%= link_to "#{t('exam_management')}" , :controller => "exam",:action=>'create_exam' %>  </li>
            <% end %>
            <%  if permitted_to? :create_additional_exam,:additional_exam %>
              <li><%= link_to "#{t('additional_exams_text')}" ,:controller=>'additional_exam' , :action=>'create_additional_exam' %></li>
            <% end %>
            <li><%= link_to "#{t('exam_wise_report')}" , :controller => "exam",:action=>'exam_wise_report' %></li>
            <li><%= link_to "#{t('subject_wise_report')}" , :controller => "exam",:action=>'subject_wise_report' %> </li>
            <li><%= link_to "#{t('grouped_exam_reports')}" , :controller => "exam",:action=>'grouped_exam_report' %></li>
            <% FedenaPlugin::ADDITIONAL_LINKS[:online_exam_index_link].each do |mod| %>
              <%  if permitted_to? "#{mod[:destination][:action]}".to_sym,"#{mod[:destination][:controller]}".to_sym %>
                <li><%= link_to "#{t("#{mod[:title]}")}",mod[:destination] %></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      <li><%= link_to "#{t('news_text')}" , :controller => "news", :action=>"index" %></li>
      <% if permitted_to? :index, :event %>
        <li><%= link_to "#{t('event_creations')}" , :controller => "event", :action=>"index" %></li>
      <% end %>
      <% if permitted_to? :hr, :employee %>
        <li><%= link_to "#{t('human_resource')} <span class='right-arrow'>#{arrow_dir}</span>" , :controller => "employee", :action=>"hr" %>
          <ul class="level-2">
            <% if permitted_to? :settings, :employee %>
              <li><%= link_to "#{t('setting')}", :controller=>"employee", :action=>"settings"%></li>
            <%end%>
            <% if permitted_to? :employee_management, :employee %>
              <li><%= link_to "#{t('employee_management_text')}", :controller=>"employee", :action=>"employee_management"%></li>
            <%end%>
            <% if permitted_to? :employee_attendance, :employee %>
              <li><%= link_to "#{t('employee_leave_management')}", :controller=>"employee", :action=>"employee_attendance" %></li>
            <%end%>
            <% if permitted_to? :payslip, :employee %>
              <li><%= link_to  "#{t('create_payslip')}", :controller=>"employee", :action=>"payslip" %></li>
            <%end%>
            <% if permitted_to? :search, :employee %>
              <li><%= link_to "#{t('employee_search')}", :controller=>"employee", :action=>"search" %></li>
            <%end%>
            <% if permitted_to? :department_payslip, :employee %>
              <li><%= link_to "#{t('employee_payslip')}", :controller=>"employee", :action=>"department_payslip" %></li>
            <% end %>
            <% unless @modules.include?("Finance") %>
              <% if permitted_to? :payslip_approve, :employee %>
                <li><%= link_to "#{t('one_click_aprove_payslip')}", :controller=>"employee", :action=>"payslip_approve" %></li>
              <%end%>
            <%end%>
          </ul>
        </li>
      <% end %>
      <% if permitted_to? :index, :finance %>
        <li><%= link_to "#{t('finance_text')} <span class='right-arrow'>#{arrow_dir}</span>" , :controller => "finance", :action=>"index" %>
          <ul class="level-2">
            <li><%= link_to "#{t('fees_text')}", :controller => "finance", :action => "fees_index" %> </li>
            <li><%= link_to "#{t('category')}", :controller => "finance", :action => "categories" %> </li>
            <li><%= link_to "#{t('transactions')}", :controller => "finance", :action => "transactions" %> </li>
            <li><%= link_to "#{t('donations')}", :controller => "finance", :action => "donation" %></li>
            <li><%= link_to "#{t('automatic_transactions')}", :controller => "finance", :action => "automatic_transactions" %></li>
            <% if @modules.include?("HR") %>
              <li><%= link_to "#{t('payslip_text')}", :controller => "finance", :action => "payslip_index" %></li>
            <% end %>
            <li><%= link_to "#{t('asset_liability_management')}", :controller => "finance", :action => "asset_liability" %></li>
          </ul>
        </li>
      <% end %>
      <% if @current_user.admin? %>
        <li><%= link_to "#{t('user_text')}" , :controller => "user", :action=>"index" %></li>
      <% end %>
      <% FedenaPlugin::AVAILABLE_MODULES.each do |mod| %>
        <% unless mod[:more_menu].blank? %>
          <% arrow = mod[:sub_menus].present? ? " <span class='right-arrow'>#{arrow_dir}</span>" : "" %>
          <% if permitted_to? "#{mod[:more_menu][:action]}".to_sym,"#{mod[:more_menu][:controller]}".to_sym %>
            <li><%= link_to "#{t(mod[:more_menu][:title])}#{arrow}",:controller => "#{mod[:more_menu][:controller]}", :action=>"#{mod[:more_menu][:action]}" %>
              <% unless mod[:sub_menus].blank? %>
                <ul class="level-2">
                  <% mod[:sub_menus].each do |submenu| %>
                    <li><%= link_to "#{t(submenu[:title])}",:controller => "#{submenu[:controller]}", :action=>"#{submenu[:action]}"  if permitted_to? "#{submenu[:action]}".to_sym,"#{submenu[:controller]}".to_sym  %></li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </li>
</ul>