<label class="head_label">Add new class timing for
  <span>
    <% if @batch.nil?%>
      <%= "common" %>
    <% else %>
      <%=  @batch.full_name %>
    <% end %>
  </span></label>
<div id="ajax-create">
  <% form_remote_for :class_timing,
    :url => { :action => 'create'} do |f| %>

    <% batch_id = (@batch.nil? ? nil : @batch.id) %>
    <%= f.hidden_field :batch_id, :value => batch_id %>
  <div id="form-errors"></div>

    <div class="label-field-pair">
      <label for="name"> Name</label>
      <div class="input-field"><%= f.text_field :name %></div>
    </div>


    <div class="label-field-pair">
      <label for="name"> Start time</label>
      <div class="time-select-field"><%= time_select :class_timing, :start_time, {:minute_step => 5} %></div>
    </div>

    <div class="label-field-pair">
      <label for="name"> End time </label>
      <div class="time-select-field"><%= time_select :class_timing, :end_time, {:minute_step => 5} %></div>
    </div>

    <div class="label-checkbox-pair">
      <label><%= f.check_box :is_break, :checked => false %> Is a break</label>
    </div>

    <%= f.submit '► Save', :class => 'submit-button' %>

  <% end %>
</div>
